flows_raspberrypi.json
[
  {
    "id": "c9cf8bbb.029148",
    "type": "tab",
    "label": "pixel node"
  },
  {
    "id": "37197cb5.c49ee4",
    "type": "tab",
    "label": "update lua nodes"
  },
  {
    "id": "87853f2c.dd34d",
    "type": "tab",
    "label": "config lua nodes"
  },
  {
    "id": "fc8ae83a.bd2f98",
    "type": "tab",
    "label": "debug lua nodes"
  },
  {
    "id": "f093b8cc.ff2b58",
    "type": "mqtt-broker",
    "z": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": ""
  },
  {
    "id": "62d0e3d3.dcb47c",
    "type": "google-credentials",
    "z": "",
    "displayName": "Andreas Jungierek"
  },
  {
    "id": "899805d0.4345c8",
    "type": "google-api-config",
    "z": ""
  },
  {
    "id": "99bc08d8.a0cff8",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard"
  },
  {
    "id": "cffdbc2a.4ba77",
    "type": "ui_tab",
    "z": "",
    "name": "Update Nodes",
    "icon": "dashboard"
  },
  {
    "id": "2cab6fde.1552e",
    "type": "ui_base",
    "name": "Node-RED Dashboard",
    "theme": "theme-light"
  },
  {
    "id": "1af04f91.de5e1",
    "type": "ui_group",
    "z": "",
    "name": "Nodes",
    "tab": "cffdbc2a.4ba77",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "68f8422e.2c21dc",
    "type": "ui_group",
    "z": "",
    "name": "Files",
    "tab": "cffdbc2a.4ba77",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "1f55c701.4fff39",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "get weather forecast",
    "info": "",
    "x": 150,
    "y": 137,
    "wires": []
  },
  {
    "id": "b0cce6bb.69f258",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "way to work",
    "info": "",
    "x": 130,
    "y": 666,
    "wires": []
  },
  {
    "id": "6cb5654f.9708dc",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Daily 05:00 .. 18:00",
    "topic": "weather",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "*/15 5-17 * * *",
    "once": false,
    "x": 180,
    "y": 187,
    "wires": [
      [
        "68cb162e.e560f8"
      ]
    ]
  },
  {
    "id": "68cb162e.e560f8",
    "type": "openweathermap",
    "z": "c9cf8bbb.029148",
    "name": "Zepernick",
    "wtype": "forecast",
    "lon": "",
    "lat": "",
    "city": "2804759",
    "country": "Germany",
    "language": "de",
    "x": 380,
    "y": 187,
    "wires": [
      [
        "e9051825.eccda8"
      ]
    ]
  },
  {
    "id": "e9051825.eccda8",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "mqtt payload",
    "func": "// junand 15.01.2017\n// convert open weather forecast to pixel node message structure\n//\n// the payload is the 5 day forecast from open weather\n// msg.payload [0] -> today\n// msg.payload [1] -> tomorrow\n// ...\n// msg.payload [4] -> ...\n\nfunction temperatureMessage ( day, temp ) {\n    return day + \" \" + temp.night + \"°C bis \" + temp.day + \"°C\";\n}\n\nfunction descriptionMessage ( day, description ) {\n    return day + \" \" + description;\n}\n\nvar messages = {\n/*    display: {\n        duration: 5\n    }, */\n    messages: [ \n        { line:2, text: temperatureMessage ( \"heute\", msg.payload [0].temp ) },\n        { line:3, text: descriptionMessage ( \"heute\", msg.payload [0].weather [0].description ) },\n        { line:4, text: temperatureMessage ( \"morgen\", msg.payload [1].temp ) },\n        { line:5, text: descriptionMessage ( \"morgen\", msg.payload [1].weather [0].description ) }\n    ] \n};\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 187,
    "wires": [
      [
        "21eb0961.7dd8c6"
      ]
    ]
  },
  {
    "id": "7148dc22.b09324",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Stop 18:01",
    "topic": "weather_clear",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "01 18 * * *",
    "once": false,
    "x": 144,
    "y": 340,
    "wires": [
      [
        "2ef5c432.c6dd0c"
      ]
    ]
  },
  {
    "id": "2ef5c432.c6dd0c",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "clear messages",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"messages\":[{\"line\":2,\"clear\":true},{\"line\":3,\"clear\":true},{\"line\":4,\"clear\":true},{\"line\":5,\"clear\":true}]}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 434,
    "y": 340,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "a3681291.5bfe3",
    "type": "file",
    "z": "c9cf8bbb.029148",
    "name": "pixelnode.log",
    "filename": "/home/pi/nodered_pixelnode.log",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 1070,
    "y": 524,
    "wires": []
  },
  {
    "id": "1d09515.f0434af",
    "type": "mqtt out",
    "z": "c9cf8bbb.029148",
    "name": "mqtt: nodes@home/display/pixel/kitchen/command",
    "topic": "nodes@home/display/pixel/kitchen/command",
    "qos": "0",
    "retain": "true",
    "broker": "f093b8cc.ff2b58",
    "x": 997,
    "y": 383,
    "wires": []
  },
  {
    "id": "daaf94f6.ad46c8",
    "type": "template",
    "z": "c9cf8bbb.029148",
    "name": "log line",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{timestamp_date}}}: [{{{topic}}}] {{{payload}}}",
    "x": 900,
    "y": 524,
    "wires": [
      [
        "a3681291.5bfe3",
        "affa4182.63128"
      ]
    ]
  },
  {
    "id": "c5c075da.61ef98",
    "type": "json",
    "z": "c9cf8bbb.029148",
    "name": "",
    "x": 1030,
    "y": 444,
    "wires": [
      [
        "daaf94f6.ad46c8"
      ]
    ]
  },
  {
    "id": "affa4182.63128",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1070,
    "y": 584,
    "wires": []
  },
  {
    "id": "5ae2eae3.4b5914",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "timestamp",
    "func": "// junand 15.01.2017\n\nvar dt = new Date ();\nmsg.timestamp_date = dt;\nmsg.timestamp = +dt;\nmsg.timestamp_parts = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 875,
    "y": 443.4285888671875,
    "wires": [
      [
        "c5c075da.61ef98"
      ]
    ]
  },
  {
    "id": "dac14d24.d9643",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "input",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 424,
    "wires": [
      [
        "5ae2eae3.4b5914",
        "1d09515.f0434af",
        "d4ca7fa8.7377a"
      ]
    ]
  },
  {
    "id": "4466868a.755cc8",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "calendar",
    "info": "",
    "x": 120,
    "y": 418,
    "wires": []
  },
  {
    "id": "28941d3.07908e2",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Search \"Müll\" 05:00",
    "topic": "calender \"Müll\"",
    "payload": "Müll",
    "payloadType": "str",
    "repeat": "",
    "crontab": "00 05 * * *",
    "once": false,
    "x": 180,
    "y": 478,
    "wires": [
      [
        "bf288de6.bb763"
      ]
    ]
  },
  {
    "id": "f2c8319a.c1cd5",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Search \"Papier\" 05:00",
    "topic": "calender \"Papier\"",
    "payload": "Papier",
    "payloadType": "str",
    "repeat": "",
    "crontab": "00 05 * * *",
    "once": false,
    "x": 190,
    "y": 538,
    "wires": [
      [
        "bf288de6.bb763"
      ]
    ]
  },
  {
    "id": "a2d95a64.27a1a8",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Search \"Gelber Sack\" 05:00",
    "topic": "calender \"Gelber Sack\"",
    "payload": "Gelber Sack",
    "payloadType": "str",
    "repeat": "",
    "crontab": "00 05 * * *",
    "once": false,
    "x": 200,
    "y": 598,
    "wires": [
      [
        "bf288de6.bb763"
      ]
    ]
  },
  {
    "id": "bf288de6.bb763",
    "type": "google calendar",
    "z": "c9cf8bbb.029148",
    "google": "62d0e3d3.dcb47c",
    "name": "Abfallkalender",
    "calendar": "Abfallkalender",
    "x": 480,
    "y": 538,
    "wires": [
      [
        "8569385c.b137d8",
        "563a079c.67feb8"
      ]
    ]
  },
  {
    "id": "8569385c.b137d8",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "mqtt payload",
    "func": "// junand 16.01.2017\n\nconst now = +new Date ();\nconst start = Date.parse ( msg.payload.start );\nconst diff = now - start;\nconst oneDay = 1 * 24 * 60 * 60 * 1000; \n\nvar titleMap = [];\ntitleMap [\"Müll\"] = 6;\ntitleMap [\"Papier\"] = 7;\ntitleMap [\"Gelber Sack\"] = 8;\n\nvar s = null;\nif ( Math.abs ( diff ) < oneDay ) {\n    if ( diff < 0 ) {\n        s = \"morgen\";\n    }\n    else {\n        s = \"heute\";\n    }\n    s += \" ist \" + msg.payload.title;\n}\n\nvar messages;\n\nif ( s === null ) {\n    messages = { messages: [{ line: titleMap [msg.payload.title], clear: true } ]};\n}\nelse {\n    messages = { messages: [{ line: titleMap [msg.payload.title], text: s } ]};\n}\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 464,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "81427ec6.3c0f",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "pixelNode message structure",
    "info": "/*\n// all top level attributes are optional\n{\n    \"display\" : {\n        \"duration\" : nn,\n\t\t\"brightness\" : nn,\n        \"time\" : true,\n        \"date\" : true,\n        \"weekday\" : true\n    },\n    \"messages\" : [ // no is 0 .. 9\n        { \"line\" : n, \"text\" : \"string\", \"clear\" : true },      // clear \"overwrites\" text, clear = false has no effect\n    ],\n    \"alert\" : {\n        \"duration\" : nn,\n        \"text\" : \"string\"\n    }\n}\n\n*/\n",
    "x": 980,
    "y": 40,
    "wires": []
  },
  {
    "id": "90e6bc0.5b90448",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "open weather forecast structure",
    "info": "[\n//  {\n//    \"dt\": 1484478000,\n//    \"temp\": {\n//      \"day\": 0.74,\n//      \"min\": -4.95,\n//      \"max\": 0.74,\n//      \"night\": -4.95,\n//      \"eve\": -2.24,\n//      \"morn\": 0\n//    },\n//    \"pressure\": 1020.91,\n//    \"humidity\": 97,\n//    \"weather\": [\n//      {\n//        \"id\": 600,\n//        \"main\": \"Snow\",\n//        \"description\": \"mäßiger Schnee\",\n//        \"icon\": \"13d\"\n//      }\n//    ],\n//    \"speed\": 5.67,\n//    \"deg\": 333,\n//    \"clouds\": 44,\n//    \"snow\": 0.59\n//  },\n//  {\n//    \"dt\": 1484564400,\n// ...\n//",
    "x": 992,
    "y": 86,
    "wires": []
  },
  {
    "id": "a1be0ecd.3efd7",
    "type": "mqtt out",
    "z": "37197cb5.c49ee4",
    "name": "mqtt: nodes@home/.../service/update",
    "topic": "",
    "qos": "0",
    "retain": "true",
    "broker": "f093b8cc.ff2b58",
    "x": 1010,
    "y": 220,
    "wires": []
  },
  {
    "id": "6ed6dc87.f74a94",
    "type": "function",
    "z": "37197cb5.c49ee4",
    "name": "set topic + payload",
    "func": "// junand 19.01.2017\n\nif ( msg.topic == \"config_version\" ) {\n    \n    //node.error ( msg.payload );\n    if (  msg.payload === \"\" ) {\n        context.set ( \"version\", undefined );\n        node.status ( {} );\n    }\n    else {\n        context.set ( \"version\", msg.payload );\n        node.status ( { fill: \"blue\", shape: \"dot\", text: msg.payload } );\n    }\n\n    return null; // break flow\n\n}\n\nvar version = context.get ( \"version\");\nif ( version === undefined ) {\n    node.error ( \"NO version defined\" );\n    return null;\n}\n\n// node mqtt update topic\nmsg.topic = \"nodes@home/\" + msg.topic + \"/service/update\";\n\n// update url without update.list\n//msg.payload = \"http://192.168.2.8/website/nodes_at_home_ota/\" + version;\nmsg.payload = \"http://192.168.2.117/luanodes_ota/\" + version;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 880,
    "y": 321,
    "wires": [
      [
        "a1be0ecd.3efd7"
      ]
    ]
  },
  {
    "id": "b6376564.d080d8",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "text lines",
    "info": " 0: Außentemperatur\n 1: Innentemperatur\n 2: temperatures today\n 3: weather today\n 4: temperatures tomorrow\n 5: weather tommorow\n 6: calendar \"Müll\"\n 7: calendar \"Papier\"\n 8: calendar \"Gelber Sack\"\n 9: ...\n10: way to work andreas\n11: way to work undine\n12: ...\n13: ...\n14: ...\n15: ...\n16: ...\n17: ...\n18: ...\n19: ...",
    "x": 920,
    "y": 132,
    "wires": []
  },
  {
    "id": "5baf8e28.4ab6e",
    "type": "google directions",
    "z": "c9cf8bbb.029148",
    "name": "Anreise Hannover",
    "googleAPI": "899805d0.4345c8",
    "origin": "52.651089,13.5338005",
    "destination": "52.334167,9.8232433",
    "mode": "driving",
    "waypoints": "",
    "alternatives": "",
    "avoid": "",
    "language": "de",
    "units": "metric",
    "region": "",
    "departure_time": "",
    "arrival_time": "",
    "transit_mode": "",
    "transit_routing_preferences": "",
    "x": 410,
    "y": 706,
    "wires": [
      [
        "2196ea7d.8d5416"
      ]
    ]
  },
  {
    "id": "b5cd89d0.7be1f8",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Mo 05:00 .. 06:00",
    "topic": "Andreas",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "*/10 5 * * 1",
    "once": false,
    "x": 170,
    "y": 706,
    "wires": [
      [
        "5baf8e28.4ab6e"
      ]
    ]
  },
  {
    "id": "2196ea7d.8d5416",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "mqtt payload",
    "func": "// junand 20.01.2017\n\nfunction durationText ( secs ) {\n    \n    const min = Math.floor ( secs / 60 );\n    const hour = Math.floor ( min / 60 );\n    \n    var result = \"\";\n    if ( hour > 0 ) result += hour + \"h \";\n    result += min % 60 + \"min\"\n    \n    return result;\n    \n}\n\nif ( msg.payload.status != \"OK\" ) return null;\n\n\nvar line = 10;\nvar s = \"H: \";\nif ( msg.topic == \"Undine\" ) {\n    line = 11;\n    s = \"Arbeitsweg \"\n}\n\nconst leg = msg.payload.routes [0].legs [0];\nif ( leg.duration_in_traffic !== undefined ) {\n    s += durationText ( leg.duration_in_traffic.value ) + \" statt \";\n}\ns += durationText ( leg.duration.value );\n//    s += \" für \" + leg.distance.text;\n\nmsg.payload = { messages: [{ line: line, text: s } ]};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 690,
    "y": 706,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "d0409d0b.8bdb2",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "coordinates",
    "info": "home\n52.651089,13.5338005\n\nfi hannover\n52.334167,9.8232433\n\nUndines Arbeit\n52.541312,13.426212",
    "x": 930,
    "y": 174,
    "wires": []
  },
  {
    "id": "f6a9a52d.8955c8",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Mo-Do 05:00 .. 07:00",
    "topic": "Undine",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "*/10 5-6 * * 1,2,3,4",
    "once": false,
    "x": 180,
    "y": 766,
    "wires": [
      [
        "533ef34c.8cc27c"
      ]
    ]
  },
  {
    "id": "533ef34c.8cc27c",
    "type": "google directions",
    "z": "c9cf8bbb.029148",
    "name": "Undines Arbeitsweg",
    "googleAPI": "899805d0.4345c8",
    "origin": "52.651089,13.5338005",
    "destination": "52.541312,13.426212",
    "mode": "driving",
    "waypoints": "",
    "alternatives": "",
    "avoid": "",
    "language": "de",
    "units": "metric",
    "region": "",
    "departure_time": "",
    "arrival_time": "",
    "transit_mode": "",
    "transit_routing_preferences": "",
    "x": 420,
    "y": 766,
    "wires": [
      [
        "2196ea7d.8d5416"
      ]
    ]
  },
  {
    "id": "9fffd371.e0a8b",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Stop 7:01",
    "topic": "clear traffic info",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "01 07 * * *",
    "once": false,
    "x": 150,
    "y": 826,
    "wires": [
      [
        "c4a28517.adb098"
      ]
    ]
  },
  {
    "id": "c4a28517.adb098",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "clear messages",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"messages\":[{\"line\":10,\"clear\":true},{\"line\":11,\"clear\":true},{\"line\":4,\"clear\":true}]}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 826,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "d4ca7fa8.7377a",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 870,
    "y": 607,
    "wires": []
  },
  {
    "id": "d1ca3bfb.9f70e8",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/DHT11/lounge",
    "group": "1af04f91.de5e1",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "sensor/DHT11/lounge",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/DHT11/lounge",
    "x": 498,
    "y": 156,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "f73c231.412c6e",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/DHT11/terrace",
    "group": "1af04f91.de5e1",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "sensor/DHT11/terrace",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/DHT11/terrace",
    "x": 498,
    "y": 196,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "cbd03bd3.819e18",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/DHT11/roof",
    "group": "1af04f91.de5e1",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "sensor/DHT11/roof",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/DHT11/roof",
    "x": 498,
    "y": 236,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "4f54d98.76ed228",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/utilityroom",
    "group": "1af04f91.de5e1",
    "order": 7,
    "width": 0,
    "height": 0,
    "label": "switch/sonoff/utilityroom",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/utilityroom",
    "x": 508,
    "y": 337,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "95d346b2.e835c8",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/garage",
    "group": "1af04f91.de5e1",
    "order": 8,
    "width": 0,
    "height": 0,
    "label": "switch/sonoff/garage",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/garage",
    "x": 498,
    "y": 377,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "ccdbd261.d8a1b",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/relay/terrace",
    "group": "1af04f91.de5e1",
    "order": 9,
    "width": 0,
    "height": 0,
    "label": "switch/relay/terrace",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/relay/terrace",
    "x": 498,
    "y": 417,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "37c7da04.7c0f76",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/relay/backyard",
    "group": "1af04f91.de5e1",
    "order": 10,
    "width": 0,
    "height": 0,
    "label": "switch/relay/backyard",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/relay/backyard",
    "x": 498,
    "y": 457,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "256c7772.9d1d38",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/relay/carport",
    "group": "1af04f91.de5e1",
    "order": 11,
    "width": 0,
    "height": 0,
    "label": "switch/relay/carport",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/relay/carport",
    "x": 498,
    "y": 497,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "169ea6a2.553249",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "disable button",
    "topic": "config",
    "payload": "false",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 130,
    "y": 446,
    "wires": [
      [
        "d420d6db.c79a58"
      ]
    ]
  },
  {
    "id": "d420d6db.c79a58",
    "type": "change",
    "z": "37197cb5.c49ee4",
    "name": "set msg.enabled",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "enabled",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 160,
    "y": 526,
    "wires": [
      [
        "256c7772.9d1d38",
        "7558bf53.a4f84",
        "5a5cbecf.a6706",
        "7790a1e0.9fad4"
      ]
    ]
  },
  {
    "id": "3ccaed06.d1c7e2",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update all nodes",
    "group": "1af04f91.de5e1",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "update all",
    "color": "",
    "bgcolor": "red",
    "icon": "update",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 189,
    "y": 120,
    "wires": [
      [
        "d1ca3bfb.9f70e8",
        "f73c231.412c6e",
        "cbd03bd3.819e18",
        "4f54d98.76ed228",
        "95d346b2.e835c8",
        "ccdbd261.d8a1b",
        "37c7da04.7c0f76",
        "256c7772.9d1d38",
        "389aeb93.9100f4",
        "a7ad73b2.6ae9e",
        "7558bf53.a4f84",
        "5a5cbecf.a6706",
        "c089c3bd.97a6a",
        "7790a1e0.9fad4"
      ]
    ]
  },
  {
    "id": "12d7c8ae.c7c777",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "update all",
    "topic": "test",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 114,
    "y": 46,
    "wires": [
      [
        "3ccaed06.d1c7e2"
      ]
    ]
  },
  {
    "id": "222037cb.f13c48",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "",
    "topic": "config_version",
    "payload": "20170121_V0.23",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 590,
    "y": 740,
    "wires": [
      [
        "229fde18.7bd282"
      ]
    ]
  },
  {
    "id": "65455831.78cf68",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "update one",
    "topic": "test",
    "payload": "TEST",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 226,
    "wires": [
      [
        "d1ca3bfb.9f70e8"
      ]
    ]
  },
  {
    "id": "389aeb93.9100f4",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/rfhub/first",
    "group": "1af04f91.de5e1",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "switch/rfhub/first",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/rfhub/first",
    "x": 490,
    "y": 106,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "a7ad73b2.6ae9e",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update cover/relay/garage",
    "group": "1af04f91.de5e1",
    "order": 6,
    "width": 0,
    "height": 0,
    "label": "cover/relay/garage",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "cover/relay/garage",
    "x": 490,
    "y": 286,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "7558bf53.a4f84",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update light/xmastree/dining",
    "group": "1af04f91.de5e1",
    "order": 12,
    "width": 0,
    "height": 0,
    "label": "light/xmastree/dining",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "light/xmastree/dining",
    "x": 500,
    "y": 546,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "5a5cbecf.a6706",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/button/no1",
    "group": "1af04f91.de5e1",
    "order": 13,
    "width": 0,
    "height": 0,
    "label": "sensor/button/no1",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/button/no1",
    "x": 490,
    "y": 596,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "c089c3bd.97a6a",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/button/garage",
    "group": "1af04f91.de5e1",
    "order": 14,
    "width": 0,
    "height": 0,
    "label": "sensor/button/garage",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/button/garage",
    "x": 500,
    "y": 635,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "7790a1e0.9fad4",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/button/no3",
    "group": "1af04f91.de5e1",
    "order": 15,
    "width": 0,
    "height": 0,
    "label": "sensor/button/no3",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/button/no3",
    "x": 490,
    "y": 673,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "9c88160f.18a868",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 120,
    "y": 766,
    "wires": [
      [
        "761a7927.671948"
      ]
    ]
  },
  {
    "id": "1bd2a942.86bc77",
    "type": "exec",
    "z": "37197cb5.c49ee4",
    "command": "ls /home/pi/luanodes_ota/*.lua",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "",
    "x": 477,
    "y": 826,
    "wires": [
      [
        "73f8d060.4c3b2"
      ],
      [],
      []
    ]
  },
  {
    "id": "73f8d060.4c3b2",
    "type": "split",
    "z": "37197cb5.c49ee4",
    "name": "",
    "splt": "\\n",
    "x": 697,
    "y": 826,
    "wires": [
      [
        "657919f4.11d3e8"
      ]
    ]
  },
  {
    "id": "657919f4.11d3e8",
    "type": "function",
    "z": "37197cb5.c49ee4",
    "name": "create command",
    "func": "// junand 21.02.2017\n\nvar dest;\nvar cmd;\n\nfunction createDir ( path ) {\n\n    if ( !context.global.fs.existsSync ( dest ) ) {\n        context.global.fs.mkdirSync ( dest );\n    }\n    \n}\n\nif ( msg.topic == \"config_version\" ) {\n    \n    //node.error ( msg.payload );\n    if (  msg.payload === \"\" ) {\n        \n        context.set ( \"version\", undefined );\n        node.status ( {} );\n        \n    }\n    else {\n        \n        dest = \"/var/www/html/luanodes_ota/\" + msg.payload;\n        context.set ( \"dest\", dest );\n        //node.error ( dest );\n        //createDir ( dest );\n        \n        context.set ( \"version\", msg.payload );\n        node.status ( { fill: \"blue\", shape: \"dot\", text: msg.payload } );\n        \n    }\n\n    return null; // break flow\n\n}\n\ndest = context.get ( \"dest\" );\nif ( dest === undefined ) {\n    node.error ( \"NO destination defined\")\n    return null;\n}\n    \nif ( msg.payload === \"\" ) { // last line!\n    \n    cmd = \"cd \" + dest + \";../gen_list.sh\"; \n    \n}\nelse {\n\n    createDir ( dest );\n    \n    cmd = \"F=\\\"\" + msg.payload + \"\\\";\";\n    cmd += \"chmod 755 ${F};\"\n    cmd += \"mv $F \" + dest + \";\";\n\n}\n\nmsg.payload = cmd;\n\nreturn msg;",
    "outputs": "1",
    "noerr": 0,
    "x": 897,
    "y": 826,
    "wires": [
      [
        "27a8e412.397f7c"
      ]
    ]
  },
  {
    "id": "27a8e412.397f7c",
    "type": "exec",
    "z": "37197cb5.c49ee4",
    "command": " ",
    "addpay": true,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "execute mv",
    "x": 1110,
    "y": 826,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "761a7927.671948",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "",
    "group": "68f8422e.2c21dc",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "copy files",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 200,
    "y": 826,
    "wires": [
      [
        "1bd2a942.86bc77"
      ]
    ]
  },
  {
    "id": "229fde18.7bd282",
    "type": "ui_text_input",
    "z": "37197cb5.c49ee4",
    "name": "",
    "label": "version (yyyymmdd_Vn.nn)",
    "group": "68f8422e.2c21dc",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": "1000",
    "topic": "config_version",
    "x": 880,
    "y": 480,
    "wires": [
      [
        "657919f4.11d3e8",
        "6ed6dc87.f74a94",
        "211f63a7.dc441c"
      ]
    ]
  },
  {
    "id": "c0adca5b.c61708",
    "type": "mqtt in",
    "z": "c9cf8bbb.029148",
    "name": "mqtt: nodes@home/display/pixel/kitchen",
    "topic": "nodes@home/display/pixel/kitchen",
    "qos": "0",
    "broker": "f093b8cc.ff2b58",
    "x": 220,
    "y": 60,
    "wires": [
      [
        "e78e3d0b.8fb5e"
      ]
    ]
  },
  {
    "id": "e78e3d0b.8fb5e",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 520,
    "y": 60,
    "wires": []
  },
  {
    "id": "211f63a7.dc441c",
    "type": "ui_toast",
    "z": "37197cb5.c49ee4",
    "position": "bottom left",
    "displayTime": "3",
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "topic": "",
    "name": "Version",
    "x": 1120,
    "y": 420,
    "wires": []
  },
  {
    "id": "92cf44af.967a78",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "enable today before 12:00",
    "rules": [
      {
        "t": "set",
        "p": "payload.messages[0].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[1].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[2].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[3].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 240,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "59246a57.41cb74",
    "type": "switch",
    "z": "c9cf8bbb.029148",
    "name": "",
    "property": "time.hour",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "12",
        "vt": "num"
      },
      {
        "t": "gte",
        "v": "12",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "outputs": 2,
    "x": 545,
    "y": 260,
    "wires": [
      [
        "92cf44af.967a78"
      ],
      [
        "712a2312.bc325c"
      ]
    ]
  },
  {
    "id": "712a2312.bc325c",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "enable tomorrow after 12:00",
    "rules": [
      {
        "t": "set",
        "p": "payload.messages[0].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[1].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[2].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[3].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 280,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "21eb0961.7dd8c6",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "insert time",
    "func": "// junand 22.01.2017\n\nconst now = new Date ();\nmsg.time = { hour: now.getHours (), minute: now.getMinutes () };\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 385,
    "y": 260,
    "wires": [
      [
        "59246a57.41cb74"
      ]
    ]
  },
  {
    "id": "396d743b.57bdec",
    "type": "template",
    "z": "87853f2c.dd34d",
    "name": "config",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "mustache",
    "template": "[\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"timeBetweenSensorReadings\": 900000,\n      \"dhtPin\": 4\n    },\n    \"app\": \"tempNode\",\n    \"type\": \"DHT11\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"roof\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.22\"\n    },\n    \"chipid\": 1829768\n  },\n  {\n    \"appCfg\": {\n      \"device\": \"leds\",\n      \"useRGB\": false,\n      \"disablePrint\": true,\n      \"arduinoResetPin\": 6\n    },\n    \"app\": \"xmasNode\",\n    \"type\": \"xmastree\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"periodicPeriod\": 900000,\n      \"startupDelay2\": 5000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2\n    },\n    \"location\": \"dining\",\n    \"class\": \"light\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.31\"\n    },\n    \"chipid\": 2677473\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"timeBetweenSensorReadings\": 900000,\n      \"dhtPin\": 4\n    },\n    \"app\": \"tempNode\",\n    \"type\": \"DHT11\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"lounge\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.21\"\n    },\n    \"chipid\": 1495931\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"bme280SdaPin\": 2,\n      \"bme280SclPin\": 1,\n      \"dhtPin\": 4,\n      \"timeBetweenSensorReadings\": 900000\n    },\n    \"app\": \"tempNode\",\n    \"chipid\": 2028701,\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"lounge\",\n    \"class\": \"sensor\",\n    \"type\": \"DHT22_bmp280\",\n    \"mqttBroker\": \"192.168.137.1\"\n  },\n  {\n    \"appCfg\": {\n      \"relayPin\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 7,\n      \"device\": \"pump\",\n      \"flashLowPulseLength\": 200000,\n      \"extraPin\": 5\n    },\n    \"app\": \"sonoffNode\",\n    \"type\": \"sonoff\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"utilityroom\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.26\"\n    },\n    \"chipid\": 485535\n  },\n  {\n    \"appCfg\": {\n      \"rfpin\": 7,\n      \"rfrepeats\": 16,\n      \"ledpin\": 4,\n      \"dhtPin\": 6,\n      \"rfperiod\": 320\n    },\n    \"app\": \"rfNode\",\n    \"type\": \"rfhub\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"queuePeriod\": 500,\n      \"queue\": 3,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"first\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.20\"\n    },\n    \"chipid\": 1461824\n  },\n  {\n    \"appCfg\": {\n      \"buttonPin\": 1,\n      \"relayPin1\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 2,\n      \"relayPulseLength\": 30000,\n      \"flashLowPulseLength\": 200000,\n      \"relayPin2\": 7\n    },\n    \"app\": \"relayNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"terrace\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.28\"\n    },\n    \"chipid\": 982283\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"useQuickStartupAfterDeepSleep\": true\n    },\n    \"app\": \"buttonNode\",\n    \"type\": \"button\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"deepSleepDelay\": 1000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"startupDelay2\": 5000\n    },\n    \"location\": \"no3\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.34\"\n    },\n    \"chipid\": 35778\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"useQuickStartupAfterDeepSleep\": true\n    },\n    \"app\": \"buttonNode\",\n    \"type\": \"button\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"deepSleepDelay\": 1000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"startupDelay2\": 5000\n    },\n    \"location\": \"garage\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.33\"\n    },\n    \"chipid\": 16061971\n  },\n  {\n    \"appCfg\": {\n      \"buttonPin\": 1,\n      \"relayPin1\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 2,\n      \"relayPulseLength\": 30000,\n      \"flashLowPulseLength\": 200000,\n      \"relayPin2\": 7\n    },\n    \"app\": \"relayNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"carport\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.30\"\n    },\n    \"chipid\": 8734823\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"timeBetweenSensorReadings\": 900000,\n      \"dhtPin\": 4\n    },\n    \"app\": \"tempNode\",\n    \"type\": \"DHT11\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"terrace\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.23\"\n    },\n    \"chipid\": 2030164\n  },\n  {\n    \"appCfg\": {\n      \"buttonPin\": 1,\n      \"relayPin1\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 2,\n      \"relayPulseLength\": 30000,\n      \"flashLowPulseLength\": 200000,\n      \"relayPin2\": 7\n    },\n    \"app\": \"relayNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"backyard\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.29\"\n    },\n    \"chipid\": 1689710\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"useQuickStartupAfterDeepSleep\": true\n    },\n    \"app\": \"buttonNode\",\n    \"type\": \"button\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"deepSleepDelay\": 1000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"startupDelay2\": 5000\n    },\n    \"location\": \"no1\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.32\"\n    },\n    \"chipid\": 15892791\n  },\n  {\n    \"appCfg\": {\n      \"relayPin\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 7,\n      \"extraPin\": 5,\n      \"flashLowPulseLength\": 200000,\n      \"buttonPin\": 3\n    },\n    \"app\": \"sonoffNode\",\n    \"type\": \"sonoff\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"garage\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.27\"\n    },\n    \"chipid\": 518010\n  },\n  {\n    \"appCfg\": {\n      \"relayPin\": 1,\n      \"openPositionPin\": 5,\n      \"dhtPin\": 4,\n      \"closedPositionPin\": 6\n    },\n    \"app\": \"garageNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"trigger\": 4,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"state\": 5,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 200,\n      \"statePeriod\": 1000,\n      \"triggerDelay\": 300,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"garage\",\n    \"class\": \"cover\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.25\"\n    },\n    \"chipid\": 8391351\n  }\n]",
    "x": 180,
    "y": 140,
    "wires": [
      [
        "9063acc2.4b093",
        "b9d3ed8c.382f5"
      ]
    ]
  },
  {
    "id": "8bb0661d.e243d8",
    "type": "inject",
    "z": "87853f2c.dd34d",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 160,
    "y": 80,
    "wires": [
      [
        "396d743b.57bdec",
        "aaf46bc4.285758"
      ]
    ]
  },
  {
    "id": "9063acc2.4b093",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 360,
    "y": 140,
    "wires": []
  },
  {
    "id": "b9d3ed8c.382f5",
    "type": "json",
    "z": "87853f2c.dd34d",
    "name": "",
    "x": 300,
    "y": 220,
    "wires": [
      [
        "fc4e9051.847e4",
        "448a07f2.e07da8"
      ]
    ]
  },
  {
    "id": "fc4e9051.847e4",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 220,
    "wires": []
  },
  {
    "id": "aaf46bc4.285758",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 370,
    "y": 80,
    "wires": []
  },
  {
    "id": "448a07f2.e07da8",
    "type": "splitter",
    "z": "87853f2c.dd34d",
    "name": "",
    "property": "payload",
    "x": 480,
    "y": 320,
    "wires": [
      [
        "d4275ed7.55f66",
        "f55b3dd4.25cbf"
      ]
    ]
  },
  {
    "id": "d4275ed7.55f66",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 690,
    "y": 320,
    "wires": []
  },
  {
    "id": "f55b3dd4.25cbf",
    "type": "change",
    "z": "87853f2c.dd34d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "\"nodes@home/config/\" & msg.payload.chipid",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 420,
    "wires": [
      [
        "1aeb13ca.29dcac",
        "f443a7fc.669df8"
      ]
    ]
  },
  {
    "id": "f443a7fc.669df8",
    "type": "mqtt out",
    "z": "87853f2c.dd34d",
    "name": "",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "f093b8cc.ff2b58",
    "x": 860,
    "y": 480,
    "wires": []
  },
  {
    "id": "1aeb13ca.29dcac",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 840,
    "y": 420,
    "wires": []
  },
  {
    "id": "cac8e8cf.382648",
    "type": "tcp in",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "server": "server",
    "host": "",
    "port": "10001",
    "datamode": "stream",
    "datatype": "utf8",
    "newline": "\\n",
    "topic": "",
    "base64": false,
    "x": 220,
    "y": 216,
    "wires": [
      [
        "44ab1bb9.2b1cd4",
        "1f6c1953.c84e17"
      ]
    ]
  },
  {
    "id": "44ab1bb9.2b1cd4",
    "type": "debug",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 490,
    "y": 216,
    "wires": []
  },
  {
    "id": "563a079c.67feb8",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 640,
    "y": 640,
    "wires": []
  },
  {
    "id": "97dd4d6c.e32c3",
    "type": "inject",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "topic": "",
    "payload": "12345#[TEST] debug log",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 316,
    "wires": [
      [
        "1f6c1953.c84e17"
      ]
    ]
  },
  {
    "id": "1f6c1953.c84e17",
    "type": "change",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "chipid",
        "pt": "msg",
        "to": "$split ( msg.payload, \"#\" ) [0]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$split ( msg.payload, \"#\" ) [1]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "filename",
        "pt": "msg",
        "to": "\"/home/pi/.node-red/log/node_\" & msg.chipid & \".log\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 438,
    "y": 316,
    "wires": [
      [
        "cffac716.aac658"
      ]
    ]
  },
  {
    "id": "3b09d52d.26ae1a",
    "type": "debug",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 830,
    "y": 316,
    "wires": []
  },
  {
    "id": "cffac716.aac658",
    "type": "function",
    "z": "fc8ae83a.bd2f98",
    "name": "timestamp",
    "func": "// junand 15.01.2017\n\nvar dt = new Date ();\nmsg.timestamp_date = dt;\nmsg.timestamp = +dt;\nmsg.timestamp_parts = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 316,
    "wires": [
      [
        "3b09d52d.26ae1a",
        "98291db9.1054d"
      ]
    ]
  },
  {
    "id": "98291db9.1054d",
    "type": "template",
    "z": "fc8ae83a.bd2f98",
    "name": "log line",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{timestamp_date}}}: {{{payload}}}",
    "x": 820,
    "y": 376,
    "wires": [
      [
        "32bacd9f.c1ac52",
        "b5c67af7.3fdbc8"
      ]
    ]
  },
  {
    "id": "b5c67af7.3fdbc8",
    "type": "file",
    "z": "fc8ae83a.bd2f98",
    "name": "<chipid>.log",
    "filename": "",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 1010,
    "y": 436,
    "wires": []
  },
  {
    "id": "32bacd9f.c1ac52",
    "type": "debug",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 1010,
    "y": 376,
    "wires": []
  },
  {
    "id": "57139689.f8bd18",
    "type": "comment",
    "z": "fc8ae83a.bd2f98",
    "name": "receive log messages from esp8266 nodes",
    "info": "",
    "x": 210,
    "y": 80,
    "wires": []
  },
  {
    "id": "a38547f8.40a908",
    "type": "comment",
    "z": "fc8ae83a.bd2f98",
    "name": "Test",
    "info": "",
    "x": 100,
    "y": 276,
    "wires": []
  }
]
