flows_raspberrypi.json
[{"id":"54b9f2fb.d6477c","type":"tab","label":"weather zepernick"},{"id":"2fec4be1.48c8f4","type":"tab","label":"weather mayrhofen"},{"id":"796ab7e8.b6ead8","type":"tab","label":"calendar"},{"id":"f093b8cc.ff2b58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"62d0e3d3.dcb47c","type":"google-credentials","z":"","displayName":"Andreas Jungierek"},{"id":"8fc2ac12.d0426","type":"openweathermap","z":"54b9f2fb.d6477c","name":"Zepernick","wtype":"forecast","lon":"","lat":"","city":"2804759","country":"Germany","language":"de","x":140,"y":335,"wires":[["1f205e71.2370c2"]]},{"id":"509bfca7.bc4824","type":"file","z":"54b9f2fb.d6477c","name":"log","filename":"/home/pi/nodered.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":977,"y":418,"wires":[]},{"id":"1f205e71.2370c2","type":"function","z":"54b9f2fb.d6477c","name":"constructMessages","func":"// junand 15.01.2017\n// convert open weather forecast to pixel node message structure\n//\n// the payload is the 5 day forecast from open weather\n// msg.payload [0] -> today\n// msg.payload [1] -> tomorrow\n// ...\n// msg.payload [4] -> ...\n\nfunction temperatureMessage ( topic, temp ) {\n    return topic + \" \" + temp.night + \"°C bis \" + temp.day + \"°C\";\n}\n\nfunction descriptionMessage ( topic, description ) {\n    return topic + \" \" + description;\n}\n\nvar messages = {\n/*    display: {\n        duration: 5\n    }, */\n    messages: [ \n        { line:2, text: temperatureMessage ( \"heute\", msg.payload [0].temp ) },\n        { line:3, text: descriptionMessage ( \"heute\", msg.payload [0].weather [0].description ) },\n        { line:4, text: temperatureMessage ( \"morgen\", msg.payload [1].temp ) },\n        { line:5, text: descriptionMessage ( \"morgen\", msg.payload [1].weather [0].description ) }\n    ] \n};\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":335,"wires":[["fe0910cf.aaf66"]]},{"id":"e21289b0.8a5c88","type":"comment","z":"54b9f2fb.d6477c","name":"pixelNode message structure","info":"/*\n// all top level attributes are optional\n{\n    \"display\" : {\n        \"duration\" : nn,\n\t\t\"brightness\" : nn,\n        \"time\" : true,\n        \"date\" : true,\n        \"weekday\" : true\n    },\n    \"messages\" : [ // no is 0 .. 9\n        { \"line\" : n, \"text\" : \"string\", \"clear\" : true },      // clear \"overwrites\" text, clear = false has no effect\n    ],\n    \"alert\" : {\n        \"duration\" : nn,\n        \"text\" : \"string\"\n    }\n}\n\n*/\n","x":920,"y":40,"wires":[]},{"id":"bc29b5f1.c74318","type":"comment","z":"54b9f2fb.d6477c","name":"open weather forecast structure","info":"[\n//  {\n//    \"dt\": 1484478000,\n//    \"temp\": {\n//      \"day\": 0.74,\n//      \"min\": -4.95,\n//      \"max\": 0.74,\n//      \"night\": -4.95,\n//      \"eve\": -2.24,\n//      \"morn\": 0\n//    },\n//    \"pressure\": 1020.91,\n//    \"humidity\": 97,\n//    \"weather\": [\n//      {\n//        \"id\": 600,\n//        \"main\": \"Snow\",\n//        \"description\": \"mäßiger Schnee\",\n//        \"icon\": \"13d\"\n//      }\n//    ],\n//    \"speed\": 5.67,\n//    \"deg\": 333,\n//    \"clouds\": 44,\n//    \"snow\": 0.59\n//  },\n//  {\n//    \"dt\": 1484564400,\n// ...\n//","x":932,"y":97,"wires":[]},{"id":"d9d0ebf8.eed1d8","type":"mqtt out","z":"54b9f2fb.d6477c","name":"mqtt: pixelNode","topic":"nodes@home/display/pixel/kitchen/command","qos":"0","retain":"false","broker":"f093b8cc.ff2b58","x":747,"y":335,"wires":[]},{"id":"5bd38e7c.89815","type":"template","z":"54b9f2fb.d6477c","name":"log line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{timestamp}}}: [weather -> mqtt] {{{payload}}}","x":847,"y":418,"wires":[["509bfca7.bc4824"]]},{"id":"bf2623d3.77669","type":"json","z":"54b9f2fb.d6477c","name":"","x":717,"y":418,"wires":[["5bd38e7c.89815"]]},{"id":"fc514c5f.7acd1","type":"function","z":"54b9f2fb.d6477c","name":"store timestamp","func":"// junand 15.01.2017\n\nmsg.timestamp = msg.payload;\n\nvar date = new Date ( msg.payload );\nmsg.timestamp_date = date;\n\nmsg.timestamp_parts = {\n\t'month':\tdate.getMonth() + 1,\n\t'day':\t\tdate.getDate(),\n\t'year':\t\tdate.getFullYear(),\n\t'hours':\tdate.getHours(),\n\t'mins':\t\tdate.getMinutes(),\n\t'msecs':\tdate.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":235,"wires":[["8fc2ac12.d0426"]]},{"id":"4f3e43ea.9ee53c","type":"inject","z":"54b9f2fb.d6477c","name":"Daily 05:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * 1,2,3,4,5","once":false,"x":150,"y":235,"wires":[["fc514c5f.7acd1"]]},{"id":"16f1c24d.e0b3ce","type":"inject","z":"2fec4be1.48c8f4","name":"Start 05:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"x":150,"y":85,"wires":[["9fa098a4.4881f8"]]},{"id":"9fa098a4.4881f8","type":"function","z":"2fec4be1.48c8f4","name":"store timestamp","func":"// junand 15.01.2017\n\nmsg.timestamp = msg.payload;\n\nvar date = new Date ( msg.payload );\nmsg.timestamp_date = date;\n\nmsg.timestamp_parts = {\n\t'month':\tdate.getMonth() + 1,\n\t'day':\t\tdate.getDate(),\n\t'year':\t\tdate.getFullYear(),\n\t'hours':\tdate.getHours(),\n\t'mins':\t\tdate.getMinutes(),\n\t'msecs':\tdate.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":85,"wires":[["927a966c.d10a78","b23bd2d9.3d27f"]]},{"id":"927a966c.d10a78","type":"openweathermap","z":"2fec4be1.48c8f4","name":"Mayrhofen (current)","wtype":"current","lon":"11.87","lat":"47.17","city":"","country":"","language":"de","x":170,"y":185,"wires":[["c70e4240.03e8c"]]},{"id":"2eae8580.83292a","type":"debug","z":"2fec4be1.48c8f4","name":"","active":false,"console":"false","complete":"payload","x":1010,"y":540,"wires":[]},{"id":"e51e0594.3b1b78","type":"inject","z":"54b9f2fb.d6477c","name":"Start 09:00 Weekend","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 9 * * 6,0","once":false,"x":180,"y":160,"wires":[["fc514c5f.7acd1"]]},{"id":"1bef1725.ec25c9","type":"inject","z":"54b9f2fb.d6477c","name":"Stop 12:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"x":150,"y":580,"wires":[["a78dbc2f.fc5db"]]},{"id":"dd872519.7296d8","type":"comment","z":"54b9f2fb.d6477c","name":"get weather forecast 1x per day","info":"","x":220,"y":100,"wires":[]},{"id":"e6390516.8ada48","type":"comment","z":"54b9f2fb.d6477c","name":"reset weather messages","info":"","x":200,"y":520,"wires":[]},{"id":"a78dbc2f.fc5db","type":"function","z":"54b9f2fb.d6477c","name":"store timestamp","func":"// junand 15.01.2017\n\nmsg.timestamp = msg.payload;\n\nvar date = new Date ( msg.payload );\nmsg.timestamp_date = date;\n\nmsg.timestamp_parts = {\n\t'month':\tdate.getMonth() + 1,\n\t'day':\t\tdate.getDate(),\n\t'year':\t\tdate.getFullYear(),\n\t'hours':\tdate.getHours(),\n\t'mins':\t\tdate.getMinutes(),\n\t'msecs':\tdate.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["25d9aebe.2eec22"]]},{"id":"25d9aebe.2eec22","type":"change","z":"54b9f2fb.d6477c","name":"clear messages","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"messages\":[{\"line\":2,\"clear\":true},{\"line\":3,\"clear\":true},{\"line\":4,\"clear\":true},{\"line\":5,\"clear\":true}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":420,"wires":[["fe0910cf.aaf66"]]},{"id":"fe0910cf.aaf66","type":"change","z":"54b9f2fb.d6477c","name":"input","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["d9d0ebf8.eed1d8","bf2623d3.77669"]]},{"id":"10f4c22b.ea73ee","type":"template","z":"2fec4be1.48c8f4","name":"mail body","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nNachricht vom {{{timestamp_date}}}\n\n{{{payload.current.detail}}}\n\nTemperatur: {{{payload.current.tempc}}}°C\nLuftfeuchtigkeit: {{{payload.current.humidity}}}%\nWindgeschwindigkeit: {{{payload.current.windspeed}}}m/s\n\nVorhersagen:\n\nHeute: \n    {{{payload.forecast0.weather.description}}}\n    {{{payload.forecast0.temp.night}}}°C bis {{{payload.forecast0.temp.day}}}°C\n\nMorgen: \n    {{{payload.forecast1.weather.description}}}\n    {{{payload.forecast1.temp.night}}}°C bis {{{payload.forecast1.temp.day}}}°C\n\nÜbermogen: \n    {{{payload.forecast2.weather.description}}}\n    {{{payload.forecast2.temp.night}}}°C bis {{{payload.forecast2.temp.day}}}°C\n\n","x":780,"y":340,"wires":[["2eae8580.83292a","d66c7680.a44c78"]]},{"id":"d66c7680.a44c78","type":"e-mail","z":"2fec4be1.48c8f4","server":"smtp.1und1.de","port":"465","name":"mobil@jungierek.de","dname":"nodeRED","x":959,"y":340,"wires":[]},{"id":"b23bd2d9.3d27f","type":"openweathermap","z":"2fec4be1.48c8f4","name":"Mayrhofen (forecast)","wtype":"forecast","lon":"11.87","lat":"47.17","city":"","country":"","language":"de","x":180,"y":258,"wires":[["3cd4dbe4.9118f4"]]},{"id":"c70e4240.03e8c","type":"change","z":"2fec4be1.48c8f4","name":"set current","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":373,"y":185,"wires":[["99d884a1.4cdca8"]]},{"id":"3cd4dbe4.9118f4","type":"change","z":"2fec4be1.48c8f4","name":"set forecast","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":258,"wires":[["99d884a1.4cdca8"]]},{"id":"508a5381.fabacc","type":"function","z":"2fec4be1.48c8f4","name":"set values","func":"// junand 15.01.2017\n\nvar forecast = msg.payload.forecast;\n\nmsg.payload.forecast0 = msg.payload.forecast [0];\nmsg.payload.forecast0.weather = msg.payload.forecast0.weather [0];\n\nmsg.payload.forecast1 = msg.payload.forecast [1];\nmsg.payload.forecast1.weather = msg.payload.forecast1.weather [0];\n\nmsg.payload.forecast2 = msg.payload.forecast [2];\nmsg.payload.forecast2.weather = msg.payload.forecast2.weather [0];\n\nmsg.payload.forecast = null;\n\nmsg.title = \"Der tägliche Wetterbericht aus Mayrhofen\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["10f4c22b.ea73ee"]]},{"id":"99d884a1.4cdca8","type":"join","z":"2fec4be1.48c8f4","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":570,"y":225,"wires":[["508a5381.fabacc"]]},{"id":"c7552f5e.11894","type":"google calendar","z":"796ab7e8.b6ead8","google":"62d0e3d3.dcb47c","name":"Abfallkalender","calendar":"Abfallkalender","x":500,"y":80,"wires":[["b858bcf3.f2d45"]]},{"id":"90ce908c.cf0cd","type":"inject","z":"796ab7e8.b6ead8","name":"search \"Müll\"","topic":"","payload":"Müll","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":80,"wires":[["c7552f5e.11894"]]},{"id":"b858bcf3.f2d45","type":"debug","z":"796ab7e8.b6ead8","name":"","active":true,"console":"false","complete":"false","x":1120,"y":360,"wires":[]},{"id":"9957aede.8c07b","type":"inject","z":"796ab7e8.b6ead8","name":"search \"Papier\"","topic":"","payload":"Papier","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":140,"wires":[["c7552f5e.11894"]]},{"id":"83e4d4b7.1eb358","type":"inject","z":"796ab7e8.b6ead8","name":"search \"Gelber Sack\"","topic":"","payload":"Gelber Sack","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":200,"wires":[["c7552f5e.11894"]]},{"id":"5ffa5109.31bd","type":"switch","z":"796ab7e8.b6ead8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":260,"y":480,"wires":[[]]}]