flows_raspberrypi.json
[{"id":"c9cf8bbb.029148","type":"tab","label":"pixel node"},{"id":"2fec4be1.48c8f4","type":"tab","label":"mail weather mayrhofen"},{"id":"37197cb5.c49ee4","type":"tab","label":"update lua nodes"},{"id":"8de81703.d94798","type":"tab","label":"way to work"},{"id":"f093b8cc.ff2b58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"62d0e3d3.dcb47c","type":"google-credentials","z":"","displayName":"Andreas Jungierek"},{"id":"899805d0.4345c8","type":"google-api-config","z":""},{"id":"16f1c24d.e0b3ce","type":"inject","z":"2fec4be1.48c8f4","name":"Start 05:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"x":150,"y":85,"wires":[["9fa098a4.4881f8"]]},{"id":"9fa098a4.4881f8","type":"function","z":"2fec4be1.48c8f4","name":"store timestamp","func":"// junand 15.01.2017\n\nmsg.timestamp = msg.payload;\n\nvar date = new Date ( msg.payload );\nmsg.timestamp_date = date;\n\nmsg.timestamp_parts = {\n\t'month':\tdate.getMonth() + 1,\n\t'day':\t\tdate.getDate(),\n\t'year':\t\tdate.getFullYear(),\n\t'hours':\tdate.getHours(),\n\t'mins':\t\tdate.getMinutes(),\n\t'msecs':\tdate.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":85,"wires":[["927a966c.d10a78","b23bd2d9.3d27f"]]},{"id":"927a966c.d10a78","type":"openweathermap","z":"2fec4be1.48c8f4","name":"Mayrhofen (current)","wtype":"current","lon":"11.87","lat":"47.17","city":"","country":"","language":"de","x":170,"y":185,"wires":[["c70e4240.03e8c"]]},{"id":"2eae8580.83292a","type":"debug","z":"2fec4be1.48c8f4","name":"","active":false,"console":"false","complete":"payload","x":1010,"y":540,"wires":[]},{"id":"10f4c22b.ea73ee","type":"template","z":"2fec4be1.48c8f4","name":"mail body","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\nNachricht vom {{{timestamp_date}}}\n\n{{{payload.current.detail}}}\n\nTemperatur: {{{payload.current.tempc}}}°C\nLuftfeuchtigkeit: {{{payload.current.humidity}}}%\nWindgeschwindigkeit: {{{payload.current.windspeed}}}m/s\n\nVorhersagen:\n\nHeute: \n    {{{payload.forecast0.weather.description}}}\n    {{{payload.forecast0.temp.night}}}°C bis {{{payload.forecast0.temp.day}}}°C\n\nMorgen: \n    {{{payload.forecast1.weather.description}}}\n    {{{payload.forecast1.temp.night}}}°C bis {{{payload.forecast1.temp.day}}}°C\n\nÜbermogen: \n    {{{payload.forecast2.weather.description}}}\n    {{{payload.forecast2.temp.night}}}°C bis {{{payload.forecast2.temp.day}}}°C\n\n","x":780,"y":340,"wires":[["2eae8580.83292a","d66c7680.a44c78"]]},{"id":"d66c7680.a44c78","type":"e-mail","z":"2fec4be1.48c8f4","server":"smtp.1und1.de","port":"465","name":"mobil@jungierek.de","dname":"nodeRED","x":959,"y":340,"wires":[]},{"id":"b23bd2d9.3d27f","type":"openweathermap","z":"2fec4be1.48c8f4","name":"Mayrhofen (forecast)","wtype":"forecast","lon":"11.87","lat":"47.17","city":"","country":"","language":"de","x":180,"y":258,"wires":[["3cd4dbe4.9118f4"]]},{"id":"c70e4240.03e8c","type":"change","z":"2fec4be1.48c8f4","name":"set current","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":373,"y":185,"wires":[["99d884a1.4cdca8"]]},{"id":"3cd4dbe4.9118f4","type":"change","z":"2fec4be1.48c8f4","name":"set forecast","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":258,"wires":[["99d884a1.4cdca8"]]},{"id":"508a5381.fabacc","type":"function","z":"2fec4be1.48c8f4","name":"set values","func":"// junand 15.01.2017\n\nvar forecast = msg.payload.forecast;\n\nmsg.payload.forecast0 = msg.payload.forecast [0];\nmsg.payload.forecast0.weather = msg.payload.forecast0.weather [0];\n\nmsg.payload.forecast1 = msg.payload.forecast [1];\nmsg.payload.forecast1.weather = msg.payload.forecast1.weather [0];\n\nmsg.payload.forecast2 = msg.payload.forecast [2];\nmsg.payload.forecast2.weather = msg.payload.forecast2.weather [0];\n\nmsg.payload.forecast = null;\n\nmsg.title = \"Der tägliche Wetterbericht aus Mayrhofen\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["10f4c22b.ea73ee"]]},{"id":"99d884a1.4cdca8","type":"join","z":"2fec4be1.48c8f4","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":570,"y":225,"wires":[["508a5381.fabacc"]]},{"id":"1f55c701.4fff39","type":"comment","z":"c9cf8bbb.029148","name":"get weather forecast 1x per day","info":"","x":190,"y":80,"wires":[]},{"id":"b0cce6bb.69f258","type":"comment","z":"c9cf8bbb.029148","name":"way to work","info":"","x":130,"y":582,"wires":[]},{"id":"ea2e262d.86bf68","type":"inject","z":"c9cf8bbb.029148","name":"Start 09:00 Weekend","topic":"weather \"Zepernick\" Weekend","payload":"","payloadType":"date","repeat":"","crontab":"00 9 * * 6,0","once":false,"x":180,"y":135,"wires":[["68cb162e.e560f8"]]},{"id":"6cb5654f.9708dc","type":"inject","z":"c9cf8bbb.029148","name":"Daily 05:00","topic":"weather \"Zepernick\" Daily","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * 1,2,3,4,5","once":false,"x":150,"y":195,"wires":[["68cb162e.e560f8"]]},{"id":"68cb162e.e560f8","type":"openweathermap","z":"c9cf8bbb.029148","name":"Zepernick","wtype":"forecast","lon":"","lat":"","city":"2804759","country":"Germany","language":"de","x":380,"y":195,"wires":[["e9051825.eccda8"]]},{"id":"e9051825.eccda8","type":"function","z":"c9cf8bbb.029148","name":"mqtt payload","func":"// junand 15.01.2017\n// convert open weather forecast to pixel node message structure\n//\n// the payload is the 5 day forecast from open weather\n// msg.payload [0] -> today\n// msg.payload [1] -> tomorrow\n// ...\n// msg.payload [4] -> ...\n\nfunction temperatureMessage ( day, temp ) {\n    return day + \" \" + temp.night + \"°C bis \" + temp.day + \"°C\";\n}\n\nfunction descriptionMessage ( day, description ) {\n    return day + \" \" + description;\n}\n\nvar messages = {\n/*    display: {\n        duration: 5\n    }, */\n    messages: [ \n        { line:2, text: temperatureMessage ( \"heute\", msg.payload [0].temp ) },\n        { line:3, text: descriptionMessage ( \"heute\", msg.payload [0].weather [0].description ) },\n        { line:4, text: temperatureMessage ( \"morgen\", msg.payload [1].temp ) },\n        { line:5, text: descriptionMessage ( \"morgen\", msg.payload [1].weather [0].description ) }\n    ] \n};\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":195,"wires":[["dac14d24.d9643"]]},{"id":"7148dc22.b09324","type":"inject","z":"c9cf8bbb.029148","name":"Stop 12:00","topic":"weather \"Zepernick\" Clear","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"x":144,"y":256,"wires":[["2ef5c432.c6dd0c"]]},{"id":"2ef5c432.c6dd0c","type":"change","z":"c9cf8bbb.029148","name":"clear messages","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"messages\":[{\"line\":2,\"clear\":true},{\"line\":3,\"clear\":true},{\"line\":4,\"clear\":true},{\"line\":5,\"clear\":true}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":434,"y":256,"wires":[["dac14d24.d9643"]]},{"id":"a3681291.5bfe3","type":"file","z":"c9cf8bbb.029148","name":"pixelnode.log","filename":"/home/pi/nodered_pixelnode.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1070,"y":440,"wires":[]},{"id":"1d09515.f0434af","type":"mqtt out","z":"c9cf8bbb.029148","name":"mqtt: nodes@home/display/pixel/kitchen/command","topic":"nodes@home/display/pixel/kitchen/command","qos":"0","retain":"true","broker":"f093b8cc.ff2b58","x":997,"y":299,"wires":[]},{"id":"daaf94f6.ad46c8","type":"template","z":"c9cf8bbb.029148","name":"log line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{timestamp_date}}}: [{{{topic}}}] {{{payload}}}","x":900,"y":440,"wires":[["a3681291.5bfe3","affa4182.63128"]]},{"id":"c5c075da.61ef98","type":"json","z":"c9cf8bbb.029148","name":"","x":1030,"y":360,"wires":[["daaf94f6.ad46c8"]]},{"id":"affa4182.63128","type":"debug","z":"c9cf8bbb.029148","name":"","active":true,"console":"false","complete":"false","x":1070,"y":500,"wires":[]},{"id":"5ae2eae3.4b5914","type":"function","z":"c9cf8bbb.029148","name":"timestamp","func":"// junand 15.01.2017\n\nvar dt = new Date ();\nmsg.timestamp_date = dt;\nmsg.timestamp = +dt;\nmsg.timestamp_parts = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":875,"y":359.4285888671875,"wires":[["c5c075da.61ef98"]]},{"id":"dac14d24.d9643","type":"change","z":"c9cf8bbb.029148","name":"input","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["5ae2eae3.4b5914","1d09515.f0434af","d4ca7fa8.7377a"]]},{"id":"4466868a.755cc8","type":"comment","z":"c9cf8bbb.029148","name":"calendar","info":"","x":120,"y":334,"wires":[]},{"id":"28941d3.07908e2","type":"inject","z":"c9cf8bbb.029148","name":"Search \"Müll\" 05:00","topic":"calender \"Müll\"","payload":"Müll","payloadType":"str","repeat":"","crontab":"00 05 * * *","once":false,"x":180,"y":394,"wires":[["bf288de6.bb763"]]},{"id":"f2c8319a.c1cd5","type":"inject","z":"c9cf8bbb.029148","name":"Search \"Papier\" 05:00","topic":"calender \"Papier\"","payload":"Papier","payloadType":"str","repeat":"","crontab":"00 05 * * *","once":false,"x":190,"y":454,"wires":[["bf288de6.bb763"]]},{"id":"a2d95a64.27a1a8","type":"inject","z":"c9cf8bbb.029148","name":"Search \"Gelber Sack\" 05:00","topic":"calender \"Gelber Sack\"","payload":"Gelber Sack","payloadType":"str","repeat":"","crontab":"00 05 * * *","once":false,"x":200,"y":514,"wires":[["bf288de6.bb763"]]},{"id":"bf288de6.bb763","type":"google calendar","z":"c9cf8bbb.029148","google":"62d0e3d3.dcb47c","name":"Abfallkalender","calendar":"Abfallkalender","x":480,"y":454,"wires":[["8569385c.b137d8"]]},{"id":"8569385c.b137d8","type":"function","z":"c9cf8bbb.029148","name":"mqtt payload","func":"// junand 16.01.2017\n\nconst now = +new Date ();\nconst start = Date.parse ( msg.payload.start );\nconst diff = now - start;\nconst oneDay = 1 * 24 * 60 * 60 * 1000; \n\nvar titleMap = [];\ntitleMap [\"Müll\"] = 6;\ntitleMap [\"Papier\"] = 7;\ntitleMap [\"Gelber Sack\"] = 8;\n\nvar s = null;\nif ( Math.abs ( diff ) < oneDay ) {\n    if ( diff < 0 ) {\n        s = \"morgen\";\n    }\n    else {\n        s = \"heute\";\n    }\n    s += \" ist \" + msg.payload.title;\n}\n\nvar messages;\n\nif ( s === null ) {\n    messages = { messages: [{ line: titleMap [msg.payload.title], clear: true } ]};\n}\nelse {\n    messages = { messages: [{ line: titleMap [msg.payload.title], text: s } ]};\n}\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["dac14d24.d9643"]]},{"id":"81427ec6.3c0f","type":"comment","z":"c9cf8bbb.029148","name":"pixelNode message structure","info":"/*\n// all top level attributes are optional\n{\n    \"display\" : {\n        \"duration\" : nn,\n\t\t\"brightness\" : nn,\n        \"time\" : true,\n        \"date\" : true,\n        \"weekday\" : true\n    },\n    \"messages\" : [ // no is 0 .. 9\n        { \"line\" : n, \"text\" : \"string\", \"clear\" : true },      // clear \"overwrites\" text, clear = false has no effect\n    ],\n    \"alert\" : {\n        \"duration\" : nn,\n        \"text\" : \"string\"\n    }\n}\n\n*/\n","x":980,"y":40,"wires":[]},{"id":"90e6bc0.5b90448","type":"comment","z":"c9cf8bbb.029148","name":"open weather forecast structure","info":"[\n//  {\n//    \"dt\": 1484478000,\n//    \"temp\": {\n//      \"day\": 0.74,\n//      \"min\": -4.95,\n//      \"max\": 0.74,\n//      \"night\": -4.95,\n//      \"eve\": -2.24,\n//      \"morn\": 0\n//    },\n//    \"pressure\": 1020.91,\n//    \"humidity\": 97,\n//    \"weather\": [\n//      {\n//        \"id\": 600,\n//        \"main\": \"Snow\",\n//        \"description\": \"mäßiger Schnee\",\n//        \"icon\": \"13d\"\n//      }\n//    ],\n//    \"speed\": 5.67,\n//    \"deg\": 333,\n//    \"clouds\": 44,\n//    \"snow\": 0.59\n//  },\n//  {\n//    \"dt\": 1484564400,\n// ...\n//","x":992,"y":83,"wires":[]},{"id":"e91f03ff.b1878","type":"inject","z":"37197cb5.c49ee4","name":"sensor/DHT11/lounge","topic":"","payload":"sensor/DHT11/lounge","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":120,"wires":[["6ed6dc87.f74a94"]]},{"id":"a1be0ecd.3efd7","type":"mqtt out","z":"37197cb5.c49ee4","name":"mqtt: nodes@home/.../service/update","topic":"","qos":"0","retain":"false","broker":"f093b8cc.ff2b58","x":810,"y":120,"wires":[]},{"id":"6ed6dc87.f74a94","type":"function","z":"37197cb5.c49ee4","name":"set topic + payload","func":"// junand 19.01.2017\n\n// node mqtt update topic\nmsg.topic = \"nodes@home/\" + msg.payload + \"/service/update\";\n\n// update url without update.list\nconst version = \"20161204_V0.20\";\nmsg.payload = \"http://192.168.2.8/website/nodes_at_home_ota/\" + version;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["7d796b61.193344"]]},{"id":"7d796b61.193344","type":"debug","z":"37197cb5.c49ee4","name":"","active":true,"console":"false","complete":"true","x":740,"y":240,"wires":[]},{"id":"ab89e7df.5f4958","type":"debug","z":"8de81703.d94798","name":"","active":true,"console":"false","complete":"true","x":610,"y":260,"wires":[]},{"id":"24a17c06.257aa4","type":"google directions","z":"8de81703.d94798","name":"Anreise Hannover","googleAPI":"899805d0.4345c8","origin":"52.651089,13.5338005","destination":"52.334167,9.8232433","mode":"driving","waypoints":"","alternatives":"","avoid":"","language":"de","units":"metric","region":"","departure_time":"","arrival_time":"","transit_mode":"","transit_routing_preferences":"","x":362,"y":200,"wires":[["ab89e7df.5f4958","35911cb0.d10024","e4b00aea.312008"]]},{"id":"b00471a8.817fa","type":"inject","z":"8de81703.d94798","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":200,"wires":[["24a17c06.257aa4"]]},{"id":"1643a689.004859","type":"comment","z":"8de81703.d94798","name":"coordinates","info":"home\n52.651089,13.5338005\n\nfi hannover\n52.334167,9.8232433","x":760,"y":60,"wires":[]},{"id":"35911cb0.d10024","type":"function","z":"8de81703.d94798","name":"mqtt payload","func":"// junand 20.01.2017\n\nvar s = null;\n\nif ( msg.payload.status == \"OK\" ) {\n\n    s = \"ok\"\n\n    const leg = msg.payload.routes [0].legs [0];\n\n    s = \"Anfahrt Hannover dauert \";\n    if ( leg.duration_in_traffic !== undefined ) {\n        s += leg.duration_in_traffic.text + \" statt \";\n    }\n    s += leg.duration.text + \" für \" + leg.distance.text;\n    \n\n}\n\nvar messages;\n\nif ( s === null ) {\n    messages = { messages: [{ line: 10, clear: true } ]};\n}\nelse {\n    messages = { messages: [{ line: 10, text: s } ]};\n}\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["9e283b00.3d4488"]]},{"id":"9e283b00.3d4488","type":"debug","z":"8de81703.d94798","name":"","active":true,"console":"false","complete":"false","x":850,"y":240,"wires":[]},{"id":"b6376564.d080d8","type":"comment","z":"c9cf8bbb.029148","name":"text lines","info":" 0: Außentemperatur\n 1: Innentemperatur\n 2: temperatures today\n 3: weather today\n 4: temperatures tomorrow\n 5: weather tommorow\n 6: calendar \"Müll\"\n 7: calendar \"Papier\"\n 8: calendar \"Gelber Sack\"\n 9: ...\n10: way to work andreas\n11: way to work undine\n12: ...\n13: ...\n14: ...\n15: ...\n16: ...\n17: ...\n18: ...\n19: ...","x":920,"y":129,"wires":[]},{"id":"67628c58.1134c4","type":"file","z":"8de81703.d94798","name":"dump.json","filename":"/home/pi/dump.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":650,"y":320,"wires":[]},{"id":"e4b00aea.312008","type":"json","z":"8de81703.d94798","name":"","x":500,"y":320,"wires":[["67628c58.1134c4"]]},{"id":"5baf8e28.4ab6e","type":"google directions","z":"c9cf8bbb.029148","name":"Anreise Hannover","googleAPI":"899805d0.4345c8","origin":"52.651089,13.5338005","destination":"52.334167,9.8232433","mode":"driving","waypoints":"","alternatives":"","avoid":"","language":"de","units":"metric","region":"","departure_time":"","arrival_time":"","transit_mode":"","transit_routing_preferences":"","x":410,"y":622,"wires":[["2196ea7d.8d5416"]]},{"id":"b5cd89d0.7be1f8","type":"inject","z":"c9cf8bbb.029148","name":"Mo 05:00 .. 06:00","topic":"Andreas","payload":"","payloadType":"date","repeat":"","crontab":"*/10 5 * * 1","once":false,"x":170,"y":622,"wires":[["5baf8e28.4ab6e"]]},{"id":"2196ea7d.8d5416","type":"function","z":"c9cf8bbb.029148","name":"mqtt payload","func":"// junand 20.01.2017\n\nfunction durationText ( secs ) {\n    \n    const min = Math.floor ( secs / 60 );\n    const hour = Math.floor ( min / 60 );\n    \n    var result = \"\";\n    if ( hour > 0 ) result += hour + \"h \";\n    result += min % 60 + \"min\"\n    \n    return result;\n    \n}\n\nif ( msg.payload.status != \"OK\" ) return null;\n\n\nvar line = 10;\nvar s = \"H: \";\nif ( msg.topic == \"Undine\" ) {\n    line = 11;\n    s = \"Arbeitsweg \"\n}\n\nconst leg = msg.payload.routes [0].legs [0];\nif ( leg.duration_in_traffic !== undefined ) {\n    s += durationText ( leg.duration_in_traffic.value ) + \" statt \";\n}\ns += durationText ( leg.duration.value );\n//    s += \" für \" + leg.distance.text;\n\nmsg.payload = { messages: [{ line: line, text: s } ]};\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":622,"wires":[["dac14d24.d9643"]]},{"id":"d0409d0b.8bdb2","type":"comment","z":"c9cf8bbb.029148","name":"coordinates","info":"home\n52.651089,13.5338005\n\nfi hannover\n52.334167,9.8232433\n\nUndines Arbeit\n52.541312,13.426212","x":930,"y":171,"wires":[]},{"id":"f6a9a52d.8955c8","type":"inject","z":"c9cf8bbb.029148","name":"Mo-Do 05:00 .. 06:00","topic":"Undine","payload":"","payloadType":"date","repeat":"","crontab":"*/10 5 * * 1","once":false,"x":180,"y":682,"wires":[["533ef34c.8cc27c"]]},{"id":"533ef34c.8cc27c","type":"google directions","z":"c9cf8bbb.029148","name":"Undines Arbeitsweg","googleAPI":"899805d0.4345c8","origin":"52.651089,13.5338005","destination":"52.541312,13.426212","mode":"driving","waypoints":"","alternatives":"","avoid":"","language":"de","units":"metric","region":"","departure_time":"","arrival_time":"","transit_mode":"","transit_routing_preferences":"","x":420,"y":682,"wires":[["2196ea7d.8d5416"]]},{"id":"9fffd371.e0a8b","type":"inject","z":"c9cf8bbb.029148","name":"Stop 7:00","topic":"clear traffic info","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"x":150,"y":742,"wires":[["c4a28517.adb098"]]},{"id":"c4a28517.adb098","type":"change","z":"c9cf8bbb.029148","name":"clear messages","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"messages\":[{\"line\":10,\"clear\":true},{\"line\":11,\"clear\":true},{\"line\":4,\"clear\":true}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":742,"wires":[["dac14d24.d9643"]]},{"id":"d4ca7fa8.7377a","type":"debug","z":"c9cf8bbb.029148","name":"","active":true,"console":"false","complete":"false","x":1060,"y":580,"wires":[]}]