flows_nodesathome.json
[
  {
    "id": "c9cf8bbb.029148",
    "type": "tab",
    "label": "pixel node"
  },
  {
    "id": "37197cb5.c49ee4",
    "type": "tab",
    "label": "update lua nodes"
  },
  {
    "id": "fc8ae83a.bd2f98",
    "type": "tab",
    "label": "debug lua nodes"
  },
  {
    "id": "a09e2385.86b3b",
    "type": "tab",
    "label": "watch mqtt topics"
  },
  {
    "id": "8e2c5c11.fae26",
    "type": "tab",
    "label": "node state",
    "disabled": false,
    "info": ""
  },
  {
    "id": "f7610a0.d8198f8",
    "type": "tab",
    "label": "brewery",
    "disabled": false,
    "info": ""
  },
  {
    "id": "65bfe802.954608",
    "type": "tab",
    "label": "ambient",
    "disabled": false,
    "info": ""
  },
  {
    "id": "87853f2c.dd34d",
    "type": "tab",
    "label": "config lua nodes",
    "disabled": true,
    "info": ""
  },
  {
    "id": "e9aab946.903ab8",
    "type": "tab",
    "label": "test config",
    "disabled": true,
    "info": ""
  },
  {
    "id": "399a3bf2.52cdb4",
    "type": "tab",
    "label": "monitor nodes",
    "disabled": true,
    "info": ""
  },
  {
    "id": "f093b8cc.ff2b58",
    "type": "mqtt-broker",
    "z": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": ""
  },
  {
    "id": "62d0e3d3.dcb47c",
    "type": "google-credentials",
    "z": "",
    "displayName": "Andreas Jungierek"
  },
  {
    "id": "899805d0.4345c8",
    "type": "google-api-config",
    "z": ""
  },
  {
    "id": "cffdbc2a.4ba77",
    "type": "ui_tab",
    "z": "",
    "name": "Update Nodes",
    "icon": "dashboard",
    "order": 2
  },
  {
    "id": "2cab6fde.1552e",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "1af04f91.de5e1",
    "type": "ui_group",
    "z": "",
    "name": "Nodes 1",
    "tab": "cffdbc2a.4ba77",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "68f8422e.2c21dc",
    "type": "ui_group",
    "z": "",
    "name": "Files",
    "tab": "cffdbc2a.4ba77",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "6ced38ac.829508",
    "type": "websocket-listener",
    "z": "",
    "path": "/mqtt_to_websocket",
    "wholemsg": "true"
  },
  {
    "id": "c39c0138.5637",
    "type": "ui_group",
    "z": "",
    "name": "Nodes 2",
    "tab": "cffdbc2a.4ba77",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "4053cb3b.f891e4",
    "type": "ui_tab",
    "z": "",
    "name": "Node States",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "eec5fbfe.9e9ef8",
    "type": "ui_group",
    "z": "",
    "name": "Nodes 1",
    "tab": "4053cb3b.f891e4",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "3156ce3a.ed9862",
    "type": "ui_group",
    "z": "",
    "name": "Nodes 2",
    "tab": "4053cb3b.f891e4",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "4759591f.23c438",
    "type": "ui_group",
    "z": "",
    "name": "Nodes 3",
    "tab": "4053cb3b.f891e4",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "165a13ba.7f27ec",
    "type": "ui_group",
    "z": "",
    "name": "Temperatur",
    "tab": "eb63d2fd.5cd68",
    "order": 2,
    "disp": true,
    "width": "10"
  },
  {
    "id": "e1a7eb0b.d543f8",
    "type": "ui_group",
    "z": "",
    "name": "Steuerung",
    "tab": "eb63d2fd.5cd68",
    "order": 1,
    "disp": true,
    "width": "4"
  },
  {
    "id": "903ce37b.b2576",
    "type": "ui_group",
    "z": "",
    "name": "Rezept",
    "tab": "eb63d2fd.5cd68",
    "order": 3,
    "disp": true,
    "width": "10"
  },
  {
    "id": "1a9412b.dfe4aed",
    "type": "influxdb",
    "z": "",
    "hostname": "192.168.2.117",
    "port": "8086",
    "protocol": "http",
    "database": "brewery",
    "name": "",
    "usetls": false,
    "tls": ""
  },
  {
    "id": "6f6ec204.ae7e8c",
    "type": "ui_group",
    "z": "",
    "name": "Spannungsversorgung",
    "tab": "eb63d2fd.5cd68",
    "order": 4,
    "disp": true,
    "width": "4"
  },
  {
    "id": "eb63d2fd.5cd68",
    "type": "ui_tab",
    "z": "",
    "name": "Brauerei",
    "icon": "dashboard",
    "order": 3
  },
  {
    "id": "9f5822ca.ea672",
    "type": "influxdb",
    "z": "",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "ambient",
    "name": "",
    "usetls": false,
    "tls": ""
  },
  {
    "id": "1f55c701.4fff39",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "get weather forecast",
    "info": "",
    "x": 150,
    "y": 160,
    "wires": []
  },
  {
    "id": "b0cce6bb.69f258",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "way to work",
    "info": "",
    "x": 130,
    "y": 689,
    "wires": []
  },
  {
    "id": "6cb5654f.9708dc",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Daily 05:00 .. 22:00",
    "topic": "nodes@home/display/pixel/kitchen/message/forecast",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "*/15 5-17 * * *",
    "once": false,
    "x": 180,
    "y": 205,
    "wires": [
      [
        "68cb162e.e560f8"
      ]
    ]
  },
  {
    "id": "68cb162e.e560f8",
    "type": "openweathermap",
    "z": "c9cf8bbb.029148",
    "name": "Zepernick",
    "wtype": "forecast",
    "lon": "",
    "lat": "",
    "city": "2804759",
    "country": "Germany",
    "language": "de",
    "x": 380,
    "y": 205,
    "wires": [
      [
        "e9051825.eccda8"
      ]
    ]
  },
  {
    "id": "e9051825.eccda8",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "mqtt payload",
    "func": "// junand 15.01.2017\n// convert open weather forecast to pixel node message structure\n//\n// the payload is the 5 day forecast from open weather, with every 3 hor forecast\n// msg.payload [0] -> now\n// msg.payload [1] -> +3h\n// ...\n// msg.payload [40] -> ...\n\nfunction temperatureMessage ( day, min, max ) {\n    return day + \" \" + min + \"°C bis \" + max + \"°C\";\n}\n\nfunction descriptionMessage ( day, description ) {\n//    return day + \" \" + description;\n    return day + \" \" + description.charAt ( 0 ).toLowerCase () + description.slice ( 1 );\n}\n\n// calculate min/max temp\nvar per3h = msg.payload;\nvar todayDate = per3h [0].dt_txt.split ( \" \" ) [0];\nvar tomorrowDate = per3h [8].dt_txt.split ( \" \" ) [0]; // next day\n\nvar todayMinTemp = 999;\nvar todayMaxTemp = -999;\nvar tomorrowMinTemp = 999;\nvar tomorrowMaxTemp = -999;\n\nfor ( var i = 0; i < 16; i++ ) { // check only the first two day\n    var dt = per3h [i].dt_txt.split ( \" \" );\n    if ( dt [0] === todayDate ) {\n        if ( per3h [i].main.temp_min < todayMinTemp ) todayMinTemp = per3h [i].main.temp_min;\n        if ( per3h [i].main.temp_max > todayMaxTemp ) todayMaxTemp = per3h [i].main.temp_max;\n    }\n    else if ( dt [0] === tomorrowDate ) {\n        if ( per3h [i].main.temp_min < tomorrowMinTemp ) tomorrowMinTemp = per3h [i].main.temp_min;\n        if ( per3h [i].main.temp_max > tomorrowMaxTemp ) tomorrowMaxTemp = per3h [i].main.temp_max;\n    }\n}\n\nvar messages = {\n/*    display: {\n        duration: 5\n    }, */\n    messages: [ \n        { line:2, text: temperatureMessage ( \"heute\", todayMinTemp, todayMaxTemp ) },\n        { line:3, text: descriptionMessage ( \"heute\", msg.payload [0].weather [0].description ) },\n        { line:4, text: temperatureMessage ( \"morgen\", tomorrowMinTemp, tomorrowMaxTemp ) },\n        { line:5, text: descriptionMessage ( \"morgen\", msg.payload [8].weather [0].description ) }\n    ] \n};\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 205,
    "wires": [
      [
        "21eb0961.7dd8c6"
      ]
    ]
  },
  {
    "id": "7148dc22.b09324",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Stop 22:01",
    "topic": "nodes@home/display/pixel/kitchen/message/forecast",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "01 22 * * *",
    "once": false,
    "x": 150,
    "y": 340,
    "wires": [
      [
        "2ef5c432.c6dd0c"
      ]
    ]
  },
  {
    "id": "2ef5c432.c6dd0c",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "clear messages",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"messages\":[{\"line\":2,\"clear\":true},{\"line\":3,\"clear\":true},{\"line\":4,\"clear\":true},{\"line\":5,\"clear\":true}]}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 434,
    "y": 340,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "a3681291.5bfe3",
    "type": "file",
    "z": "c9cf8bbb.029148",
    "name": "pixelnode.log",
    "filename": "/home/pi/.node-red/log/pixelnode.log",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 1070,
    "y": 600,
    "wires": []
  },
  {
    "id": "1d09515.f0434af",
    "type": "mqtt out",
    "z": "c9cf8bbb.029148",
    "name": "mqtt: nodes@home/display/pixel/kitchen/message/...",
    "topic": "",
    "qos": "0",
    "retain": "true",
    "broker": "f093b8cc.ff2b58",
    "x": 989,
    "y": 383,
    "wires": []
  },
  {
    "id": "daaf94f6.ad46c8",
    "type": "template",
    "z": "c9cf8bbb.029148",
    "name": "log line",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{timestamp_date}}}: [{{{topic}}}] {{{payload}}}",
    "x": 900,
    "y": 600,
    "wires": [
      [
        "a3681291.5bfe3",
        "affa4182.63128"
      ]
    ]
  },
  {
    "id": "c5c075da.61ef98",
    "type": "json",
    "z": "c9cf8bbb.029148",
    "name": "",
    "x": 1010,
    "y": 520,
    "wires": [
      [
        "daaf94f6.ad46c8"
      ]
    ]
  },
  {
    "id": "affa4182.63128",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1070,
    "y": 660,
    "wires": []
  },
  {
    "id": "5ae2eae3.4b5914",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "timestamp",
    "func": "// junand 15.01.2017\n\nvar dt = new Date ();\nmsg.timestamp_date = dt;\nmsg.timestamp = +dt;\nmsg.timestamp_parts = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 870,
    "y": 520,
    "wires": [
      [
        "c5c075da.61ef98"
      ]
    ]
  },
  {
    "id": "dac14d24.d9643",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "input",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 424,
    "wires": [
      [
        "5ae2eae3.4b5914",
        "1d09515.f0434af"
      ]
    ]
  },
  {
    "id": "4466868a.755cc8",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "calendar, daily 05:00 .. 20:00",
    "info": "",
    "x": 180,
    "y": 418,
    "wires": []
  },
  {
    "id": "28941d3.07908e2",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "\"Müll\"",
    "topic": "nodes@home/display/pixel/kitchen/message/calendar/garbage",
    "payload": "Müll",
    "payloadType": "str",
    "repeat": "",
    "crontab": "*/15 5-19 * * *",
    "once": false,
    "x": 130,
    "y": 478,
    "wires": [
      [
        "bf288de6.bb763"
      ]
    ]
  },
  {
    "id": "f2c8319a.c1cd5",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "\"Papier\"",
    "topic": "nodes@home/display/pixel/kitchen/message/calendar/paper",
    "payload": "Papier",
    "payloadType": "str",
    "repeat": "",
    "crontab": "*/15 5-19 * * *",
    "once": false,
    "x": 139,
    "y": 525,
    "wires": [
      [
        "bf288de6.bb763"
      ]
    ]
  },
  {
    "id": "a2d95a64.27a1a8",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "\"Gelber Sack\"",
    "topic": "nodes@home/display/pixel/kitchen/message/calendar/yellowbag",
    "payload": "Gelber Sack",
    "payloadType": "str",
    "repeat": "",
    "crontab": "*/15 5-19 * * *",
    "once": false,
    "x": 159,
    "y": 571,
    "wires": [
      [
        "bf288de6.bb763"
      ]
    ]
  },
  {
    "id": "bf288de6.bb763",
    "type": "google calendar",
    "z": "c9cf8bbb.029148",
    "google": "62d0e3d3.dcb47c",
    "name": "Abfallkalender",
    "calendar": "Abfallkalender",
    "x": 421,
    "y": 480,
    "wires": [
      [
        "8569385c.b137d8"
      ]
    ]
  },
  {
    "id": "8569385c.b137d8",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "mqtt payload",
    "func": "// junand 16.01.2017\n\nconst now = +new Date ();\nconst start = Date.parse ( msg.payload.start );\nconst diff = now - start;\nconst oneDay = 1 * 24 * 60 * 60 * 1000; \n\nvar titleMap = [];\ntitleMap [\"Müll\"] = 6;\ntitleMap [\"Papier\"] = 7;\ntitleMap [\"Gelber Sack\"] = 8;\ntitleMap [\"Biotonne\"] = 9;\n\nvar s = null;\nif ( Math.abs ( diff ) < oneDay ) {\n    if ( diff < 0 ) {\n        s = \"morgen\";\n    }\n    else {\n        s = \"heute\";\n    }\n    s += \" ist \" + msg.payload.title;\n}\n\nvar messages;\n\nif ( s === null ) {\n    messages = { messages: [{ line: titleMap [msg.payload.title], clear: true } ]};\n}\nelse {\n    messages = { messages: [{ line: titleMap [msg.payload.title], text: s } ]};\n}\n\nmsg.payload = messages; // preserve msg attributes!!!\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 560,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "81427ec6.3c0f",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "pixelNode message structure",
    "info": "/*\n// all top level attributes are optional\n{\n    \"display\" : {\n        \"duration\" : nn,\n\t\t\"brightness\" : nn,\n        \"time\" : true,\n        \"date\" : true,\n        \"weekday\" : true\n    },\n    \"messages\" : [ // no is 0 .. 9\n        { \"line\" : n, \"text\" : \"string\", \"clear\" : true },      // clear \"overwrites\" text, clear = false has no effect\n    ],\n    \"alert\" : {\n        \"duration\" : nn,\n        \"text\" : \"string\"\n    }\n}\n\n*/\n",
    "x": 980,
    "y": 40,
    "wires": []
  },
  {
    "id": "90e6bc0.5b90448",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "open weather forecast structure",
    "info": "[\n//  {\n//    \"dt\": 1484478000,\n//    \"temp\": {\n//      \"day\": 0.74,\n//      \"min\": -4.95,\n//      \"max\": 0.74,\n//      \"night\": -4.95,\n//      \"eve\": -2.24,\n//      \"morn\": 0\n//    },\n//    \"pressure\": 1020.91,\n//    \"humidity\": 97,\n//    \"weather\": [\n//      {\n//        \"id\": 600,\n//        \"main\": \"Snow\",\n//        \"description\": \"mäßiger Schnee\",\n//        \"icon\": \"13d\"\n//      }\n//    ],\n//    \"speed\": 5.67,\n//    \"deg\": 333,\n//    \"clouds\": 44,\n//    \"snow\": 0.59\n//  },\n//  {\n//    \"dt\": 1484564400,\n// ...\n//",
    "x": 992,
    "y": 86,
    "wires": []
  },
  {
    "id": "a1be0ecd.3efd7",
    "type": "mqtt out",
    "z": "37197cb5.c49ee4",
    "name": "mqtt: nodes@home/.../service/update",
    "topic": "",
    "qos": "0",
    "retain": "true",
    "broker": "f093b8cc.ff2b58",
    "x": 1010,
    "y": 220,
    "wires": []
  },
  {
    "id": "6ed6dc87.f74a94",
    "type": "function",
    "z": "37197cb5.c49ee4",
    "name": "set topic + payload",
    "func": "// junand 19.01.2017\n\nif ( msg.topic == \"config_version\" ) {\n    \n    //node.error ( msg.payload );\n    if (  msg.payload === \"\" ) {\n        context.set ( \"version\", undefined );\n        node.status ( {} );\n    }\n    else {\n        context.set ( \"version\", msg.payload );\n        node.status ( { fill: \"blue\", shape: \"dot\", text: msg.payload } );\n    }\n\n    return null; // break flow\n\n}\n\nvar version = context.get ( \"version\");\nif ( version === undefined ) {\n    node.error ( \"NO version defined\" );\n    return null;\n}\n\n// node mqtt update topic\nmsg.topic = \"nodes@home/\" + msg.topic + \"/service/update\";\n\n// update url without update.list\n//msg.payload = \"http://192.168.2.8/website/nodes_at_home_ota/\" + version;\nmsg.payload = \"http://192.168.2.117/luanodes_ota/\" + version;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 880,
    "y": 321,
    "wires": [
      [
        "a1be0ecd.3efd7",
        "6370f138.eae61"
      ]
    ]
  },
  {
    "id": "b6376564.d080d8",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "text lines",
    "info": " 0: Außentemperatur\n 1: Innentemperatur\n 2: temperatures today\n 3: weather today\n 4: temperatures tomorrow\n 5: weather tommorow\n 6: calendar \"Müll\"\n 7: calendar \"Papier\"\n 8: calendar \"Gelber Sack\"\n 9: calendar \"Biotonne\"\n10: way to work andreas\n11: way to work undine\n12: Pooltemperatur\n13: S-Bahn Abfahrt 1\n14: S-Bahn Abfahrt 2\n15: current weather Brisbane\n16: ...\n17: ...\n18: ...\n19: ...",
    "x": 920,
    "y": 132,
    "wires": []
  },
  {
    "id": "5baf8e28.4ab6e",
    "type": "google directions",
    "z": "c9cf8bbb.029148",
    "name": "Anreise Hannover",
    "googleAPI": "899805d0.4345c8",
    "origin": "52.651089,13.5338005",
    "destination": "52.334167,9.8232433",
    "mode": "driving",
    "waypoints": "",
    "alternatives": "",
    "avoid": "",
    "language": "de",
    "units": "metric",
    "region": "",
    "departure_time": "",
    "arrival_time": "",
    "transit_mode": "",
    "transit_routing_preferences": "",
    "x": 410,
    "y": 729,
    "wires": [
      [
        "2196ea7d.8d5416"
      ]
    ]
  },
  {
    "id": "b5cd89d0.7be1f8",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Mo 05:00 .. 06:00",
    "topic": "nodes@home/display/pixel/kitchen/message/traffic/andreas",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "*/10 5-6 * * 1",
    "once": false,
    "x": 170,
    "y": 729,
    "wires": [
      [
        "5baf8e28.4ab6e"
      ]
    ]
  },
  {
    "id": "2196ea7d.8d5416",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "mqtt payload",
    "func": "// junand 20.01.2017\n\nfunction durationText ( secs ) {\n    \n    const min = Math.floor ( secs / 60 );\n    const hour = Math.floor ( min / 60 );\n    \n    var result = \"\";\n    if ( hour > 0 ) result += hour + \"h \";\n    result += min % 60 + \"min\"\n    \n    return result;\n    \n}\n\nif ( msg.payload.status != \"OK\" ) return null;\n\nvar line = 10;\nvar s = \"H: \";\nif ( msg.topic.endsWith ( \"undine\" ) ) {\n    line = 11;\n    s = \"Arbeitsweg \"\n}\n\nconst leg = msg.payload.routes [0].legs [0];\nif ( leg.duration_in_traffic !== undefined ) {\n    s += durationText ( leg.duration_in_traffic.value ) + \" statt \";\n}\ns += durationText ( leg.duration.value );\n//    s += \" für \" + leg.distance.text;\n\nmsg.payload = { messages: [{ line: line, text: s } ]};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 690,
    "y": 729,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "d0409d0b.8bdb2",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "coordinates",
    "info": "home\n52.651089,13.5338005\n\nfi hannover\n52.334167,9.8232433\n\nUndines Arbeit\n52.541312,13.426212",
    "x": 930,
    "y": 174,
    "wires": []
  },
  {
    "id": "f6a9a52d.8955c8",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Mo-Do 05:00 .. 07:00",
    "topic": "nodes@home/display/pixel/kitchen/message/traffic/undine",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "*/10 5-6 * * 1,2,3,4",
    "once": false,
    "x": 180,
    "y": 820,
    "wires": [
      [
        "533ef34c.8cc27c"
      ]
    ]
  },
  {
    "id": "533ef34c.8cc27c",
    "type": "google directions",
    "z": "c9cf8bbb.029148",
    "name": "Undines Arbeitsweg",
    "googleAPI": "899805d0.4345c8",
    "origin": "52.651089,13.5338005",
    "destination": "52.541312,13.426212",
    "mode": "driving",
    "waypoints": "",
    "alternatives": "",
    "avoid": "",
    "language": "de",
    "units": "metric",
    "region": "",
    "departure_time": "",
    "arrival_time": "",
    "transit_mode": "",
    "transit_routing_preferences": "",
    "x": 420,
    "y": 820,
    "wires": [
      [
        "2196ea7d.8d5416"
      ]
    ]
  },
  {
    "id": "9fffd371.e0a8b",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Stop 7:01",
    "topic": "nodes@home/display/pixel/kitchen/message/traffic/andreas",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "01 07 * * *",
    "once": false,
    "x": 150,
    "y": 770,
    "wires": [
      [
        "c4a28517.adb098"
      ]
    ]
  },
  {
    "id": "c4a28517.adb098",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "clear messages",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"messages\":[{\"line\":10,\"clear\":true}]}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 402,
    "y": 771,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "d1ca3bfb.9f70e8",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/DHT11/lounge",
    "group": "1af04f91.de5e1",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "sensor/DHT11/lounge",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/DHT11/lounge",
    "x": 498,
    "y": 86,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "f73c231.412c6e",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/DHT11/terrace",
    "group": "1af04f91.de5e1",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "sensor/DHT11/terrace",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/DHT11/terrace",
    "x": 498,
    "y": 126,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "cbd03bd3.819e18",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/DHT11/roof",
    "group": "1af04f91.de5e1",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "sensor/DHT11/roof",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/DHT11/roof",
    "x": 498,
    "y": 166,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "4f54d98.76ed228",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/utilityroom",
    "group": "1af04f91.de5e1",
    "order": 7,
    "width": 0,
    "height": 0,
    "label": "switch/sonoff/utilityroom",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/utilityroom",
    "x": 508,
    "y": 304,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "95d346b2.e835c8",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/garage",
    "group": "1af04f91.de5e1",
    "order": 8,
    "width": 0,
    "height": 0,
    "label": "switch/sonoff/garage",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/garage",
    "x": 498,
    "y": 344,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "ccdbd261.d8a1b",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/terrace",
    "group": "1af04f91.de5e1",
    "order": 9,
    "width": 0,
    "height": 0,
    "label": "switch/sonoff/terrace",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/terrace",
    "x": 498,
    "y": 384,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "37c7da04.7c0f76",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/relay/backyard",
    "group": "1af04f91.de5e1",
    "order": 10,
    "width": 0,
    "height": 0,
    "label": "switch/relay/backyard",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/relay/backyard",
    "x": 498,
    "y": 424,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "169ea6a2.553249",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "disable button",
    "topic": "config",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 130,
    "y": 446,
    "wires": [
      [
        "d420d6db.c79a58"
      ]
    ]
  },
  {
    "id": "d420d6db.c79a58",
    "type": "change",
    "z": "37197cb5.c49ee4",
    "name": "set msg.enabled",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "enabled",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 160,
    "y": 526,
    "wires": [
      []
    ]
  },
  {
    "id": "3ccaed06.d1c7e2",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update all nodes",
    "group": "68f8422e.2c21dc",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "update all",
    "color": "",
    "bgcolor": "red",
    "icon": "update",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 189,
    "y": 120,
    "wires": [
      [
        "d1ca3bfb.9f70e8",
        "f73c231.412c6e",
        "cbd03bd3.819e18",
        "4f54d98.76ed228",
        "95d346b2.e835c8",
        "ccdbd261.d8a1b",
        "37c7da04.7c0f76",
        "389aeb93.9100f4",
        "a7ad73b2.6ae9e",
        "7558bf53.a4f84",
        "5a5cbecf.a6706",
        "c089c3bd.97a6a",
        "7790a1e0.9fad4",
        "aaa81c71.7f79d",
        "c5600b1.02ee7f8",
        "7bdcf691.4ffee8",
        "259966f6.052b6a",
        "2e32edbd.c81332",
        "1111b8ca.abcf47",
        "fa776777.dc3d08",
        "ea4ab4e3.57dc68",
        "fb143377.559be",
        "30628acc.5130e6"
      ]
    ]
  },
  {
    "id": "12d7c8ae.c7c777",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "update all",
    "topic": "test",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 114,
    "y": 46,
    "wires": [
      [
        "3ccaed06.d1c7e2"
      ]
    ]
  },
  {
    "id": "222037cb.f13c48",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "",
    "topic": "config_version",
    "payload": "20170312_V0.30",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 870,
    "y": 620,
    "wires": [
      [
        "229fde18.7bd282"
      ]
    ]
  },
  {
    "id": "65455831.78cf68",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "update one",
    "topic": "test",
    "payload": "TEST",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 180,
    "y": 226,
    "wires": [
      [
        "d1ca3bfb.9f70e8"
      ]
    ]
  },
  {
    "id": "389aeb93.9100f4",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/rfhub/first",
    "group": "1af04f91.de5e1",
    "order": 1,
    "width": "0",
    "height": "0",
    "label": "switch/rfhub/first",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/rfhub/first",
    "x": 490,
    "y": 36,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "a7ad73b2.6ae9e",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update cover/relay/garage",
    "group": "1af04f91.de5e1",
    "order": 6,
    "width": 0,
    "height": 0,
    "label": "cover/relay/garage",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "cover/relay/garage",
    "x": 490,
    "y": 253,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "7558bf53.a4f84",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update light/xmastree/dining",
    "group": "c39c0138.5637",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "light/xmastree/dining",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "light/xmastree/dining",
    "x": 500,
    "y": 471,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "5a5cbecf.a6706",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/button/indoor",
    "group": "c39c0138.5637",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "sensor/button/indoor",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/button/indoor",
    "x": 500,
    "y": 520,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "c089c3bd.97a6a",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/button/garage",
    "group": "c39c0138.5637",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "sensor/button/garage",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/button/garage",
    "x": 500,
    "y": 559,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "7790a1e0.9fad4",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/button/pool",
    "group": "c39c0138.5637",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "sensor/button/pool",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/button/pool",
    "x": 490,
    "y": 597,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "9c88160f.18a868",
    "type": "inject",
    "z": "37197cb5.c49ee4",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 120,
    "y": 1048,
    "wires": [
      [
        "761a7927.671948"
      ]
    ]
  },
  {
    "id": "1bd2a942.86bc77",
    "type": "exec",
    "z": "37197cb5.c49ee4",
    "command": "ls /home/pi/luanodes_ota/*",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "",
    "x": 467,
    "y": 1108,
    "wires": [
      [
        "73f8d060.4c3b2"
      ],
      [],
      []
    ]
  },
  {
    "id": "73f8d060.4c3b2",
    "type": "split",
    "z": "37197cb5.c49ee4",
    "name": "",
    "splt": "\\n",
    "x": 697,
    "y": 1108,
    "wires": [
      [
        "657919f4.11d3e8"
      ]
    ]
  },
  {
    "id": "657919f4.11d3e8",
    "type": "function",
    "z": "37197cb5.c49ee4",
    "name": "create command",
    "func": "// junand 21.02.2017\n\nvar dest;\nvar cmd;\n\nfunction createDir ( path ) {\n\n    if ( !context.global.fs.existsSync ( dest ) ) {\n        context.global.fs.mkdirSync ( dest );\n    }\n    \n}\n\nif ( msg.topic == \"config_version\" ) {\n    \n    //node.error ( msg.payload );\n    if (  msg.payload === \"\" ) {\n        \n        context.set ( \"version\", undefined );\n        node.status ( {} );\n        \n    }\n    else {\n        \n        dest = \"/var/www/html/luanodes_ota/\" + msg.payload;\n        context.set ( \"dest\", dest );\n        //node.error ( dest );\n        //createDir ( dest );\n        \n        context.set ( \"version\", msg.payload );\n        node.status ( { fill: \"blue\", shape: \"dot\", text: msg.payload } );\n        \n    }\n\n    return null; // break flow\n\n}\n\ndest = context.get ( \"dest\" );\nif ( dest === undefined ) {\n    node.error ( \"NO destination defined\")\n    return null;\n}\n    \nif ( msg.payload === \"\" ) { // last line!\n    \n    cmd = \"cd \" + dest + \";../gen_list_v2.sh\"; \n    \n}\nelse {\n\n    createDir ( dest );\n    \n    cmd = \"F=\\\"\" + msg.payload + \"\\\";\";\n    cmd += \"chmod 755 ${F};\"\n    cmd += \"mv $F \" + dest + \";\";\n\n}\n\nmsg.payload = cmd;\n\nreturn msg;",
    "outputs": "1",
    "noerr": 0,
    "x": 897,
    "y": 1108,
    "wires": [
      [
        "27a8e412.397f7c"
      ]
    ]
  },
  {
    "id": "27a8e412.397f7c",
    "type": "exec",
    "z": "37197cb5.c49ee4",
    "command": " ",
    "addpay": true,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "execute mv",
    "x": 1110,
    "y": 1108,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "761a7927.671948",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "",
    "group": "68f8422e.2c21dc",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "copy files",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "x": 200,
    "y": 1108,
    "wires": [
      [
        "1bd2a942.86bc77"
      ]
    ]
  },
  {
    "id": "229fde18.7bd282",
    "type": "ui_text_input",
    "z": "37197cb5.c49ee4",
    "name": "",
    "label": "version (yyyymmdd_Vn.nn)",
    "group": "68f8422e.2c21dc",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": "1000",
    "topic": "config_version",
    "x": 1000,
    "y": 700,
    "wires": [
      [
        "657919f4.11d3e8",
        "6ed6dc87.f74a94",
        "211f63a7.dc441c",
        "84fa74b.56ad888"
      ]
    ]
  },
  {
    "id": "c0adca5b.c61708",
    "type": "mqtt in",
    "z": "c9cf8bbb.029148",
    "name": "mqtt: nodes@home/display/pixel/kitchen",
    "topic": "nodes@home/display/pixel/kitchen",
    "qos": "0",
    "broker": "f093b8cc.ff2b58",
    "x": 220,
    "y": 60,
    "wires": [
      [
        "e78e3d0b.8fb5e"
      ]
    ]
  },
  {
    "id": "e78e3d0b.8fb5e",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 520,
    "y": 60,
    "wires": []
  },
  {
    "id": "211f63a7.dc441c",
    "type": "ui_toast",
    "z": "37197cb5.c49ee4",
    "position": "bottom left",
    "displayTime": "3",
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "topic": "",
    "name": "Version",
    "x": 1020,
    "y": 380,
    "wires": []
  },
  {
    "id": "92cf44af.967a78",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "enable today before 12:00",
    "rules": [
      {
        "t": "set",
        "p": "payload.messages[0].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[1].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[2].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[3].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 258,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "59246a57.41cb74",
    "type": "switch",
    "z": "c9cf8bbb.029148",
    "name": "",
    "property": "time.hour",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lt",
        "v": "12",
        "vt": "num"
      },
      {
        "t": "gte",
        "v": "12",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "outputs": 2,
    "x": 545,
    "y": 278,
    "wires": [
      [
        "92cf44af.967a78"
      ],
      [
        "712a2312.bc325c"
      ]
    ]
  },
  {
    "id": "712a2312.bc325c",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "enable tomorrow after 12:00",
    "rules": [
      {
        "t": "set",
        "p": "payload.messages[0].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[1].enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[2].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.messages[3].enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 298,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "21eb0961.7dd8c6",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "insert time",
    "func": "// junand 22.01.2017\n\nconst now = new Date ();\nmsg.time = { hour: now.getHours (), minute: now.getMinutes () };\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 385,
    "y": 278,
    "wires": [
      [
        "59246a57.41cb74"
      ]
    ]
  },
  {
    "id": "396d743b.57bdec",
    "type": "template",
    "z": "87853f2c.dd34d",
    "name": "config",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "mustache",
    "template": "[\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"timeBetweenSensorReadings\": 900000,\n      \"dhtPin\": 4\n    },\n    \"app\": \"tempNode\",\n    \"type\": \"DHT11\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"roof\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.22\"\n    },\n    \"chipid\": 1829768\n  },\n  {\n    \"appCfg\": {\n      \"device\": \"leds\",\n      \"useRGB\": false,\n      \"disablePrint\": true,\n      \"arduinoResetPin\": 6\n    },\n    \"app\": \"xmasNode\",\n    \"type\": \"xmastree\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"periodicPeriod\": 900000,\n      \"startupDelay2\": 5000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2\n    },\n    \"location\": \"dining\",\n    \"class\": \"light\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.31\"\n    },\n    \"chipid\": 2677473\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"timeBetweenSensorReadings\": 900000,\n      \"dhtPin\": 4\n    },\n    \"app\": \"tempNode\",\n    \"type\": \"DHT11\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"lounge\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.21\"\n    },\n    \"chipid\": 1495931\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"bme280SdaPin\": 2,\n      \"bme280SclPin\": 1,\n      \"dhtPin\": 4,\n      \"timeBetweenSensorReadings\": 900000\n    },\n    \"app\": \"tempNode\",\n    \"chipid\": 2028701,\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"lounge\",\n    \"class\": \"sensor\",\n    \"type\": \"DHT22_bmp280\",\n    \"mqttBroker\": \"192.168.137.1\"\n  },\n  {\n    \"appCfg\": {\n      \"relayPin\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 7,\n      \"device\": \"pump\",\n      \"flashLowPulseLength\": 200000,\n      \"extraPin\": 5\n    },\n    \"app\": \"sonoffNode\",\n    \"type\": \"sonoff\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"utilityroom\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.26\"\n    },\n    \"chipid\": 485535\n  },\n  {\n    \"appCfg\": {\n      \"rfpin\": 7,\n      \"rfrepeats\": 16,\n      \"ledpin\": 4,\n      \"dhtPin\": 6,\n      \"rfperiod\": 320\n    },\n    \"app\": \"rfNode\",\n    \"type\": \"rfhub\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"queuePeriod\": 500,\n      \"queue\": 3,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"first\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.20\"\n    },\n    \"chipid\": 1461824\n  },\n  {\n    \"appCfg\": {\n      \"buttonPin\": 1,\n      \"relayPin1\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 2,\n      \"relayPulseLength\": 30000,\n      \"flashLowPulseLength\": 200000,\n      \"relayPin2\": 7\n    },\n    \"app\": \"relayNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"terrace\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.28\"\n    },\n    \"chipid\": 982283\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"useQuickStartupAfterDeepSleep\": true\n    },\n    \"app\": \"buttonNode\",\n    \"type\": \"button\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"deepSleepDelay\": 1000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"startupDelay2\": 5000\n    },\n    \"location\": \"no3\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.34\"\n    },\n    \"chipid\": 35778\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"useQuickStartupAfterDeepSleep\": true\n    },\n    \"app\": \"buttonNode\",\n    \"type\": \"button\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"deepSleepDelay\": 1000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"startupDelay2\": 5000\n    },\n    \"location\": \"garage\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.33\"\n    },\n    \"chipid\": 16061971\n  },\n  {\n    \"appCfg\": {\n      \"buttonPin\": 1,\n      \"relayPin1\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 2,\n      \"relayPulseLength\": 30000,\n      \"flashLowPulseLength\": 200000,\n      \"relayPin2\": 7\n    },\n    \"app\": \"relayNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"carport\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.30\"\n    },\n    \"chipid\": 8734823\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"timeBetweenSensorReadings\": 900000,\n      \"dhtPin\": 4\n    },\n    \"app\": \"tempNode\",\n    \"type\": \"DHT11\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"terrace\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.23\"\n    },\n    \"chipid\": 2030164\n  },\n  {\n    \"appCfg\": {\n      \"buttonPin\": 1,\n      \"relayPin1\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 2,\n      \"relayPulseLength\": 30000,\n      \"flashLowPulseLength\": 200000,\n      \"relayPin2\": 7\n    },\n    \"app\": \"relayNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"backyard\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.29\"\n    },\n    \"chipid\": 1689710\n  },\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"useQuickStartupAfterDeepSleep\": true\n    },\n    \"app\": \"buttonNode\",\n    \"type\": \"button\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"deepSleepDelay\": 1000,\n      \"wifiLoop\": 1,\n      \"wifiLoopPeriod\": 1000,\n      \"startupDelay2\": 5000\n    },\n    \"location\": \"no1\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.32\"\n    },\n    \"chipid\": 15892791\n  },\n  {\n    \"appCfg\": {\n      \"relayPin\": 6,\n      \"flashHighPulseLength\": 50000,\n      \"ledPin\": 7,\n      \"extraPin\": 5,\n      \"flashLowPulseLength\": 200000,\n      \"buttonPin\": 3\n    },\n    \"app\": \"sonoffNode\",\n    \"type\": \"sonoff\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 500,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"garage\",\n    \"class\": \"switch\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.27\"\n    },\n    \"chipid\": 518010\n  },\n  {\n    \"appCfg\": {\n      \"relayPin\": 1,\n      \"openPositionPin\": 5,\n      \"dhtPin\": 4,\n      \"closedPositionPin\": 6\n    },\n    \"app\": \"garageNode\",\n    \"type\": \"relay\",\n    \"timer\": {\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"debounce\": 3,\n      \"trigger\": 4,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"state\": 5,\n      \"startupDelay2\": 5000,\n      \"debounceDelay\": 200,\n      \"statePeriod\": 1000,\n      \"triggerDelay\": 300,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"garage\",\n    \"class\": \"cover\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.25\"\n    },\n    \"chipid\": 8391351\n  }\n]",
    "x": 180,
    "y": 140,
    "wires": [
      [
        "9063acc2.4b093",
        "b9d3ed8c.382f5"
      ]
    ]
  },
  {
    "id": "8bb0661d.e243d8",
    "type": "inject",
    "z": "87853f2c.dd34d",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 160,
    "y": 80,
    "wires": [
      [
        "396d743b.57bdec",
        "aaf46bc4.285758"
      ]
    ]
  },
  {
    "id": "9063acc2.4b093",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 360,
    "y": 140,
    "wires": []
  },
  {
    "id": "b9d3ed8c.382f5",
    "type": "json",
    "z": "87853f2c.dd34d",
    "name": "",
    "x": 300,
    "y": 220,
    "wires": [
      [
        "fc4e9051.847e4",
        "448a07f2.e07da8"
      ]
    ]
  },
  {
    "id": "fc4e9051.847e4",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 220,
    "wires": []
  },
  {
    "id": "aaf46bc4.285758",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 370,
    "y": 80,
    "wires": []
  },
  {
    "id": "448a07f2.e07da8",
    "type": "splitter",
    "z": "87853f2c.dd34d",
    "name": "",
    "property": "payload",
    "x": 480,
    "y": 320,
    "wires": [
      [
        "d4275ed7.55f66",
        "f55b3dd4.25cbf"
      ]
    ]
  },
  {
    "id": "d4275ed7.55f66",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 690,
    "y": 320,
    "wires": []
  },
  {
    "id": "f55b3dd4.25cbf",
    "type": "change",
    "z": "87853f2c.dd34d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "\"nodes@home/config/\" & msg.payload.chipid",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 420,
    "wires": [
      [
        "1aeb13ca.29dcac",
        "f443a7fc.669df8"
      ]
    ]
  },
  {
    "id": "f443a7fc.669df8",
    "type": "mqtt out",
    "z": "87853f2c.dd34d",
    "name": "",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "f093b8cc.ff2b58",
    "x": 850,
    "y": 540,
    "wires": []
  },
  {
    "id": "1aeb13ca.29dcac",
    "type": "debug",
    "z": "87853f2c.dd34d",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 840,
    "y": 420,
    "wires": []
  },
  {
    "id": "cac8e8cf.382648",
    "type": "tcp in",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "server": "server",
    "host": "",
    "port": "10001",
    "datamode": "stream",
    "datatype": "utf8",
    "newline": "###",
    "topic": "",
    "base64": false,
    "x": 220,
    "y": 216,
    "wires": [
      [
        "44ab1bb9.2b1cd4",
        "1f6c1953.c84e17"
      ]
    ]
  },
  {
    "id": "44ab1bb9.2b1cd4",
    "type": "debug",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 470,
    "y": 216,
    "wires": []
  },
  {
    "id": "97dd4d6c.e32c3",
    "type": "inject",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "topic": "",
    "payload": "12345#[TEST] debug log",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 170,
    "y": 316,
    "wires": [
      [
        "1f6c1953.c84e17"
      ]
    ]
  },
  {
    "id": "1f6c1953.c84e17",
    "type": "change",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "chipid",
        "pt": "msg",
        "to": "$split ( msg.payload, \"#\" ) [0]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$split ( msg.payload, \"#\" ) [1]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "filename",
        "pt": "msg",
        "to": "\"/home/pi/.node-red/log/node_\" & msg.chipid & \".log\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 438,
    "y": 316,
    "wires": [
      [
        "cffac716.aac658"
      ]
    ]
  },
  {
    "id": "3b09d52d.26ae1a",
    "type": "debug",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 830,
    "y": 316,
    "wires": []
  },
  {
    "id": "cffac716.aac658",
    "type": "function",
    "z": "fc8ae83a.bd2f98",
    "name": "timestamp",
    "func": "// junand 15.01.2017\n\nvar dt = new Date ();\nmsg.timestamp_date = dt;\nmsg.timestamp = +dt;\nmsg.timestamp_parts = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 316,
    "wires": [
      [
        "3b09d52d.26ae1a",
        "98291db9.1054d"
      ]
    ]
  },
  {
    "id": "98291db9.1054d",
    "type": "template",
    "z": "fc8ae83a.bd2f98",
    "name": "log line",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{timestamp_date}}}: {{{payload}}}",
    "x": 820,
    "y": 376,
    "wires": [
      [
        "32bacd9f.c1ac52",
        "b5c67af7.3fdbc8"
      ]
    ]
  },
  {
    "id": "b5c67af7.3fdbc8",
    "type": "file",
    "z": "fc8ae83a.bd2f98",
    "name": "<chipid>.log",
    "filename": "",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 1010,
    "y": 436,
    "wires": []
  },
  {
    "id": "32bacd9f.c1ac52",
    "type": "debug",
    "z": "fc8ae83a.bd2f98",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1010,
    "y": 376,
    "wires": []
  },
  {
    "id": "57139689.f8bd18",
    "type": "comment",
    "z": "fc8ae83a.bd2f98",
    "name": "receive log messages from esp8266 nodes",
    "info": "",
    "x": 210,
    "y": 80,
    "wires": []
  },
  {
    "id": "a38547f8.40a908",
    "type": "comment",
    "z": "fc8ae83a.bd2f98",
    "name": "Test",
    "info": "",
    "x": 100,
    "y": 276,
    "wires": []
  },
  {
    "id": "e1608a19.a43898",
    "type": "change",
    "z": "87853f2c.dd34d",
    "name": "set mqtt msg",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "\"nodes@home/bootstrap/version\"",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\"http://192.168.2.117/luanodes_ota/\" & msg.payload",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 630,
    "y": 540,
    "wires": [
      [
        "f443a7fc.669df8",
        "1aeb13ca.29dcac"
      ]
    ]
  },
  {
    "id": "15d23c1c.0ed164",
    "type": "comment",
    "z": "87853f2c.dd34d",
    "name": "set node config in mqtt",
    "info": "",
    "x": 190,
    "y": 40,
    "wires": []
  },
  {
    "id": "9ffd1543.fb54b8",
    "type": "comment",
    "z": "87853f2c.dd34d",
    "name": "set bootsrap version",
    "info": "",
    "x": 170,
    "y": 540,
    "wires": []
  },
  {
    "id": "42b80d3f.367d64",
    "type": "inject",
    "z": "87853f2c.dd34d",
    "name": "",
    "topic": "config_version",
    "payload": "20170211_V0.26.1",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 600,
    "wires": [
      [
        "e1608a19.a43898"
      ]
    ]
  },
  {
    "id": "b89b5199.9db02",
    "type": "mqtt in",
    "z": "a09e2385.86b3b",
    "name": "mqtt: # [prod]",
    "topic": "#",
    "qos": "0",
    "broker": "f093b8cc.ff2b58",
    "x": 130,
    "y": 260,
    "wires": [
      [
        "66af373f.8f6ab8"
      ]
    ]
  },
  {
    "id": "b6cc55f2.310688",
    "type": "debug",
    "z": "a09e2385.86b3b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 407,
    "y": 140,
    "wires": []
  },
  {
    "id": "f43c0223.f99c2",
    "type": "websocket out",
    "z": "a09e2385.86b3b",
    "name": "",
    "server": "6ced38ac.829508",
    "client": "",
    "x": 730,
    "y": 260,
    "wires": []
  },
  {
    "id": "bed97701.a778b8",
    "type": "websocket in",
    "z": "a09e2385.86b3b",
    "name": "",
    "server": "6ced38ac.829508",
    "client": "",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "b6cc55f2.310688"
      ]
    ]
  },
  {
    "id": "438104f3.61c9dc",
    "type": "debug",
    "z": "a09e2385.86b3b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 725,
    "y": 200,
    "wires": []
  },
  {
    "id": "66af373f.8f6ab8",
    "type": "delay",
    "z": "a09e2385.86b3b",
    "name": "",
    "pauseType": "delay",
    "timeout": "15",
    "timeoutUnits": "seconds",
    "rate": "100",
    "nbRateUnits": "20",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 375,
    "y": 260,
    "wires": [
      [
        "f43c0223.f99c2",
        "438104f3.61c9dc"
      ]
    ]
  },
  {
    "id": "a2c7aa25.625838",
    "type": "comment",
    "z": "a09e2385.86b3b",
    "name": "file:///C:/Users/andre/Documents/GIT/d3-MQTT-Topic-Tree/mqtt_topic_tree.html",
    "info": "",
    "x": 898,
    "y": 322,
    "wires": []
  },
  {
    "id": "284c9d28.623c62",
    "type": "template",
    "z": "e9aab946.903ab8",
    "name": "config",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "plain",
    "template": "[\n  {\n    \"appCfg\": {\n      \"useOfflineCallback\": false,\n      \"timeBetweenSensorReadings\": 900000,\n      \"dhtPin\": 4\n    },\n    \"app\": \"tempNode\",\n    \"type\": \"DHT11\",\n    \"timer\": {\n      \"deepSleep\": 3,\n      \"startupDelay1\": 2000,\n      \"startup\": 0,\n      \"wifiLoopPeriod\": 1000,\n      \"periodic\": 2,\n      \"startupDelay2\": 5000,\n      \"deepSleepDelay\": 60000,\n      \"periodicPeriod\": 900000,\n      \"wifiLoop\": 1\n    },\n    \"location\": \"test\",\n    \"class\": \"sensor\",\n    \"wifi\": {\n      \"gateway\": \"192.168.2.1\",\n      \"netmask\": \"255.255.255.0\",\n      \"ip\": \"192.168.2.90\"\n    },\n    \"chipid\": 2677460\n  }\n]  ",
    "x": 270,
    "y": 100,
    "wires": [
      [
        "de610dc3.75ddf"
      ]
    ]
  },
  {
    "id": "de610dc3.75ddf",
    "type": "json",
    "z": "e9aab946.903ab8",
    "name": "",
    "x": 410,
    "y": 100,
    "wires": [
      [
        "d502fd6.17627"
      ]
    ]
  },
  {
    "id": "d502fd6.17627",
    "type": "splitter",
    "z": "e9aab946.903ab8",
    "name": "",
    "property": "payload",
    "x": 550,
    "y": 100,
    "wires": [
      [
        "2acec815.5f9978"
      ]
    ]
  },
  {
    "id": "2acec815.5f9978",
    "type": "change",
    "z": "e9aab946.903ab8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "\"nodes@home/config/\" & msg.payload.chipid",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 100,
    "wires": [
      [
        "1e103e0b.bd6c72",
        "6f374f8d.d1edd"
      ]
    ]
  },
  {
    "id": "1e103e0b.bd6c72",
    "type": "mqtt out",
    "z": "e9aab946.903ab8",
    "name": "",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "f093b8cc.ff2b58",
    "x": 930,
    "y": 100,
    "wires": []
  },
  {
    "id": "22bc5813.fb1808",
    "type": "inject",
    "z": "e9aab946.903ab8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 120,
    "y": 100,
    "wires": [
      [
        "284c9d28.623c62"
      ]
    ]
  },
  {
    "id": "6f374f8d.d1edd",
    "type": "debug",
    "z": "e9aab946.903ab8",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 931,
    "y": 240,
    "wires": []
  },
  {
    "id": "6b6b1a3c.768e64",
    "type": "comment",
    "z": "e9aab946.903ab8",
    "name": "send config",
    "info": "",
    "x": 110,
    "y": 60,
    "wires": []
  },
  {
    "id": "22154643.e99f5a",
    "type": "comment",
    "z": "e9aab946.903ab8",
    "name": "send config trigger",
    "info": "",
    "x": 132,
    "y": 200,
    "wires": []
  },
  {
    "id": "6ef3d88f.a59648",
    "type": "inject",
    "z": "e9aab946.903ab8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 120,
    "y": 240,
    "wires": [
      [
        "2d337e44.62efe2"
      ]
    ]
  },
  {
    "id": "2d337e44.62efe2",
    "type": "change",
    "z": "e9aab946.903ab8",
    "name": "set msg.topic",
    "rules": [
      {
        "t": "set",
        "p": "chipid",
        "pt": "msg",
        "to": "2677460",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "\"nodes@home/nonode/\" & msg.chipid & \"/anywhere/service/config\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 240,
    "wires": [
      [
        "1e103e0b.bd6c72",
        "6f374f8d.d1edd"
      ]
    ]
  },
  {
    "id": "aaa81c71.7f79d",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/brewery",
    "group": "1af04f91.de5e1",
    "order": 12,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "switch/sonoff/brewery",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/brewery",
    "x": 500,
    "y": 960,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "c5600b1.02ee7f8",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/location2 (pool)",
    "group": "1af04f91.de5e1",
    "order": 13,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "switch/sonoff/location2 (pool)",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/location2",
    "x": 530,
    "y": 660,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "7bdcf691.4ffee8",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/relay1/dining",
    "group": "1af04f91.de5e1",
    "order": 16,
    "width": 0,
    "height": 0,
    "label": "switch/relay1/dining",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/relay1/dining",
    "x": 500,
    "y": 700,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "259966f6.052b6a",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/relay2/dining",
    "group": "1af04f91.de5e1",
    "order": 17,
    "width": 0,
    "height": 0,
    "label": "switch/relay2/dining",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/relay2/dining",
    "x": 500,
    "y": 739,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "6370f138.eae61",
    "type": "debug",
    "z": "37197cb5.c49ee4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1070,
    "y": 320,
    "wires": []
  },
  {
    "id": "fa8d46f.29627b8",
    "type": "inject",
    "z": "e9aab946.903ab8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 122,
    "y": 380,
    "wires": [
      [
        "e763b7e9.5cf7c8"
      ]
    ]
  },
  {
    "id": "a0f03313.4810b",
    "type": "comment",
    "z": "e9aab946.903ab8",
    "name": "send update",
    "info": "",
    "x": 110,
    "y": 340,
    "wires": []
  },
  {
    "id": "e763b7e9.5cf7c8",
    "type": "change",
    "z": "e9aab946.903ab8",
    "name": "set msg.topic",
    "rules": [
      {
        "t": "set",
        "p": "device",
        "pt": "msg",
        "to": "nonode/...",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "\"nodes@home/\" & msg.device & \"/service/update\"",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "20170324_V30.0a",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 380,
    "wires": [
      [
        "1e103e0b.bd6c72",
        "6f374f8d.d1edd"
      ]
    ]
  },
  {
    "id": "84fa74b.56ad888",
    "type": "ui_text",
    "z": "37197cb5.c49ee4",
    "group": "68f8422e.2c21dc",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "download directory",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 1110,
    "y": 420,
    "wires": []
  },
  {
    "id": "2e32edbd.c81332",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/yardgate",
    "group": "1af04f91.de5e1",
    "order": 11,
    "width": 0,
    "height": 0,
    "label": "switch/sonoff/yardgate",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/yardgate",
    "x": 510,
    "y": 780,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "1111b8ca.abcf47",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/location3 (gallery)",
    "group": "1af04f91.de5e1",
    "order": 14,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "switch/sonoff/location3 (gallery)",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/location3",
    "x": 530,
    "y": 820,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "fa776777.dc3d08",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update switch/sonoff/location4",
    "group": "1af04f91.de5e1",
    "order": 15,
    "width": 0,
    "height": 0,
    "label": "switch/sonoff/location4",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "switch/sonoff/location4",
    "x": 510,
    "y": 860,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "ea4ab4e3.57dc68",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/ds18b20/pool",
    "group": "1af04f91.de5e1",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "sensor/ds18b20/pool",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/ds18b20/pool",
    "x": 500,
    "y": 204,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "ecea8778.4eb0d8",
    "type": "inject",
    "z": "399a3bf2.52cdb4",
    "name": "every 15 min",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "900",
    "crontab": "",
    "once": false,
    "x": 120,
    "y": 486,
    "wires": [
      [
        "13763df7.78cdf2"
      ]
    ]
  },
  {
    "id": "9be52cb7.6c17b",
    "type": "comment",
    "z": "399a3bf2.52cdb4",
    "name": "collect nodes@home/.../value/voltage",
    "info": "",
    "x": 190,
    "y": 40,
    "wires": []
  },
  {
    "id": "82500ab2.42f758",
    "type": "comment",
    "z": "399a3bf2.52cdb4",
    "name": "check last voltage message",
    "info": "",
    "x": 161,
    "y": 435,
    "wires": []
  },
  {
    "id": "b10cf739.4f4f78",
    "type": "mqtt in",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "topic": "nodes@home/+/+/+/value/voltage",
    "qos": "0",
    "broker": "f093b8cc.ff2b58",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "125adae4.17e155"
      ]
    ]
  },
  {
    "id": "57ac7d3d.d3c6f4",
    "type": "debug",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 630,
    "y": 100,
    "wires": []
  },
  {
    "id": "5fc05d1b.df2be4",
    "type": "function",
    "z": "399a3bf2.52cdb4",
    "name": "store topic+time",
    "func": "// store current timestamp under node topic\n\n// reset topics array\nif ( msg.topic == \"reset\" ) {\n    flow.set ( \"topics\", [] );\n    return null;\n}\nelse if ( msg.topic == \"exception_topics\" ) {\n    flow.set ( \"exception_topics\", msg.payload );\n    return null;\n}\n\n// 1. check for array existence\nvar topics = flow.get ( \"topics\" );\nif ( topics === undefined ) {\n    topics = [];\n    flow.set ( \"topics\", topics );\n}\n\nvar store_topic_timestamp = true;\n\n// 2. lookup for exception topic\nvar exceptions = flow.get ( \"exception_topics\" );\nif ( exceptions !== undefined ) {\n    for ( i = 0; i < exceptions.length; i++ ) {\n        if ( msg.topic == exceptions [i] ) {\n            store_topic_timestamp = false;\n        }\n    }\n}\n\n// 3. lookup for topic\nvar found = topics.length;\nfor ( i = 0; i < topics.length; i++ ) {\n    if ( topics [i].topic == msg.topic) {\n        found = i;\n    }\n}\n    \nnode.log ( \"topic=\" + msg.topic );\nnode.log ( \"store=\" + store_topic_timestamp );\nnode.log ( \"found=\" + found );\n\n// 4. store/delete timestamp\nif ( store_topic_timestamp ) {\n    topics [found] = { topic: msg.topic, timestamp: msg.timestamp };\n}\nelse if ( found < topics.length ) {\n    topics.splice ( found, 1 );\n}\nflow.set ( \"topics\", topics );\n\n// 5. return topic array\nmsg.payload = topics;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 797,
    "y": 227,
    "wires": [
      [
        "a50939a3.2f4818"
      ]
    ]
  },
  {
    "id": "125adae4.17e155",
    "type": "function",
    "z": "399a3bf2.52cdb4",
    "name": "timestamp",
    "func": "// junand 15.01.2017\n\nvar dt = new Date ();\nmsg.timestamp_date = dt;\nmsg.timestamp = +dt;\nmsg.timestamp_parts = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 100,
    "wires": [
      [
        "5fc05d1b.df2be4",
        "57ac7d3d.d3c6f4"
      ]
    ]
  },
  {
    "id": "a50939a3.2f4818",
    "type": "debug",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 967,
    "y": 227,
    "wires": []
  },
  {
    "id": "7649b292.9e09fc",
    "type": "inject",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "topic": "reset",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 120,
    "y": 227,
    "wires": [
      [
        "5fc05d1b.df2be4"
      ]
    ]
  },
  {
    "id": "50711692.8e31e8",
    "type": "comment",
    "z": "399a3bf2.52cdb4",
    "name": "reset context",
    "info": "",
    "x": 111,
    "y": 182,
    "wires": []
  },
  {
    "id": "13763df7.78cdf2",
    "type": "function",
    "z": "399a3bf2.52cdb4",
    "name": "check timestamps",
    "func": "// check timestamp table\n\nconst THRESHOLD = 30 * 60 * 1000; // ms\n\nvar current_timestamp = msg.payload;\nmsg.timestamp = msg.payload;\n\nvar topics = flow.get ( \"topics\" );\n\nvar result = [];\n\nfor ( i = 0; i < topics.length; i++ ) {\n    var delta =  current_timestamp - topics [i].timestamp;\n    if ( delta > THRESHOLD ) {\n        result [result.length] = { topic: topics [i].topic, ts: topics [i].timestamp };\n    }\n}\n\nif ( result.length > 0 ) {\n    msg.payload = result;\n}\nelse {\n    msg.payload = { msg: \"no nodes\" };\n}\n\nreturn msg;",
    "outputs": "1",
    "noerr": 0,
    "x": 379,
    "y": 486,
    "wires": [
      [
        "f54ada42.c847f8",
        "68930ea9.92c66"
      ]
    ]
  },
  {
    "id": "f54ada42.c847f8",
    "type": "debug",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 560,
    "y": 418,
    "wires": []
  },
  {
    "id": "8b80cb7b.66a918",
    "type": "file",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "filename": "/home/pi/.node-red/log/silent_nodes.log",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "x": 1021,
    "y": 487,
    "wires": []
  },
  {
    "id": "68930ea9.92c66",
    "type": "json",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "x": 598,
    "y": 486,
    "wires": [
      [
        "8b80cb7b.66a918"
      ]
    ]
  },
  {
    "id": "d087f102.60b",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "\"Biotonne\"",
    "topic": "nodes@home/display/pixel/kitchen/message/calendar/biowaste",
    "payload": "Biotonne",
    "payloadType": "str",
    "repeat": "",
    "crontab": "*/15 5-19 * * *",
    "once": false,
    "x": 149,
    "y": 619,
    "wires": [
      [
        "bf288de6.bb763"
      ]
    ]
  },
  {
    "id": "2fdce7a2.3dc438",
    "type": "mqtt in",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "topic": "nodes@home/+/+/+/value/error",
    "qos": "0",
    "broker": "f093b8cc.ff2b58",
    "x": 170,
    "y": 598,
    "wires": [
      [
        "7e3cd8d.4f96628",
        "9ac38e3f.03705"
      ]
    ]
  },
  {
    "id": "36e848d0.532d48",
    "type": "comment",
    "z": "399a3bf2.52cdb4",
    "name": "catch errror temp message",
    "info": "",
    "x": 150,
    "y": 552,
    "wires": []
  },
  {
    "id": "7e3cd8d.4f96628",
    "type": "debug",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 540,
    "y": 658,
    "wires": []
  },
  {
    "id": "f4ef1d74.875d2",
    "type": "file",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "filename": "/home/pi/.node-red/log/temp_error.log",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 1010,
    "y": 598,
    "wires": []
  },
  {
    "id": "9ac38e3f.03705",
    "type": "function",
    "z": "399a3bf2.52cdb4",
    "name": "timestamp",
    "func": "// junand 15.01.2017\n\nvar dt = new Date ();\nmsg.timestamp_date = dt;\nmsg.timestamp = +dt;\nmsg.timestamp_parts = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 598,
    "wires": [
      [
        "e4c4fc42.6d2e7"
      ]
    ]
  },
  {
    "id": "e4c4fc42.6d2e7",
    "type": "template",
    "z": "399a3bf2.52cdb4",
    "name": "log line",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "{{{timestamp_date}}}: [{{{topic}}}] {{{payload}}}",
    "x": 740,
    "y": 598,
    "wires": [
      [
        "f4ef1d74.875d2"
      ]
    ]
  },
  {
    "id": "2ea801ab.467cce",
    "type": "template",
    "z": "399a3bf2.52cdb4",
    "name": "exception_topics",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "plain",
    "template": "[\n    \"nodes@home/switch/sonoff/location1/value/voltage\",\n    \"nodes@home/switch/sonoff/location4/value/voltage\",\n    \"nodes@home/sensor/DHT11/test/value/voltage\",\n    \"nodes@home/sensor/button/no1/value/voltage\",\n    \"nodes@home/sensor/button/no3/value/voltage\",\n    \"nodes@home/sensor/button/garage/value/voltage\",\n    \"nodes@home/sensor/button/indoor/value/voltage\",\n    \"nodes@home/light/sonoff/kitchen/value/voltage\"\n]",
    "x": 413,
    "y": 335,
    "wires": [
      [
        "3f10e43e.9df55c",
        "e9ccb23d.132a2"
      ]
    ]
  },
  {
    "id": "5722014f.a9c94",
    "type": "inject",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "topic": "exception_topics",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 160,
    "y": 335,
    "wires": [
      [
        "2ea801ab.467cce"
      ]
    ]
  },
  {
    "id": "81331222.e0af4",
    "type": "comment",
    "z": "399a3bf2.52cdb4",
    "name": "set exception_topics in flow context",
    "info": "",
    "x": 180,
    "y": 290,
    "wires": []
  },
  {
    "id": "79298d83.0fd384",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "log file",
    "info": "",
    "x": 853,
    "y": 474,
    "wires": []
  },
  {
    "id": "97731a10.d88df8",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Stop 7:01",
    "topic": "nodes@home/display/pixel/kitchen/message/traffic/undine",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "01 07 * * *",
    "once": false,
    "x": 150,
    "y": 859.9999389648438,
    "wires": [
      [
        "4aa5a06e.69c21"
      ]
    ]
  },
  {
    "id": "4aa5a06e.69c21",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "clear messages",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"messages\":[{\"line\":11,\"clear\":true}]}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 404.9999694824219,
    "y": 859.9999389648438,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "e39c1e58.f0ccc",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "S-Bahn Departures",
    "info": "",
    "x": 150,
    "y": 920,
    "wires": []
  },
  {
    "id": "373330d7.26d42",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "every 10 min",
    "topic": "nodes@home/display/pixel/kitchen/message/traffic/sbahn",
    "payload": "",
    "payloadType": "date",
    "repeat": "600",
    "crontab": "",
    "once": false,
    "x": 160,
    "y": 960,
    "wires": [
      [
        "9657b353.0b17c"
      ]
    ]
  },
  {
    "id": "9657b353.0b17c",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "VBB ReST Request",
    "func": "// junand 13.06.2017\n// Fahrplandaten mit freundlicher Genehmigung des VBB\n\nif ( msg.topic == \"vbb_access_id\" ) {\n    var s = msg.payload.substr ( 0, msg.payload.length - 1 );\n    flow.set ( \"vbb_access_id\", s );\n    node.status ( \n        { \n            fill: \"blue\", \n            shape: \"dot\", \n            text: s\n        } \n    );    \n    return null;\n}\n\nvar access_id = flow.get ( \"vbb_access_id\" );\nif ( access_id === null ) return null;\n\n// test\n//var base_url = \"http://demo.hafas.de/openapi/vbb-proxy\";\n// prod\nvar base_url = \"http://fahrinfo.vbb.de/restproxy\";\n\nvar service = \"departureBoard\";\nvar extId = \"extId=009350162\";\nvar id = \"id=A=1@X=13514302@Y=52649065@\";\n\nvar stationId = id;\n\nvar msg = {\n    \"method\" : \"GET\",\n    \"url\" : base_url + \"/\" + service + \"?accessId=\" + access_id + \"&format=json&\" + stationId\n};\n \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 452,
    "y": 960,
    "wires": [
      [
        "d63fd4e6.1ba838"
      ]
    ]
  },
  {
    "id": "d63fd4e6.1ba838",
    "type": "http request",
    "z": "c9cf8bbb.029148",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 650,
    "y": 960,
    "wires": [
      [
        "ebfbdb39.545218"
      ]
    ]
  },
  {
    "id": "ebfbdb39.545218",
    "type": "json",
    "z": "c9cf8bbb.029148",
    "name": "",
    "x": 803,
    "y": 960,
    "wires": [
      [
        "8a7accb0.053d3"
      ]
    ]
  },
  {
    "id": "a29ec0b1.326ca",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "pixel message",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "nodes@home/display/pixel/kitchen/message/traffic/sbahn",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload_new.messages[0].line",
        "pt": "msg",
        "to": "13",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "payload_new.messages[1].line",
        "pt": "msg",
        "to": "14",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "payload_new.messages[0].text",
        "pt": "msg",
        "to": "\"um \" & msg.payload[0].time & \" nach \" & msg.payload[0].direction",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload_new.messages[1].text",
        "pt": "msg",
        "to": "\"um \" & msg.payload[1].time & \" nach \" & msg.payload[1].direction",
        "tot": "jsonata"
      },
      {
        "t": "move",
        "p": "payload_new",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 925,
    "y": 880,
    "wires": [
      [
        "dac14d24.d9643",
        "b4e8de8d.e4c62"
      ]
    ]
  },
  {
    "id": "b4e8de8d.e4c62",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1107,
    "y": 880,
    "wires": []
  },
  {
    "id": "3f10e43e.9df55c",
    "type": "json",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "x": 610,
    "y": 280,
    "wires": [
      [
        "5fc05d1b.df2be4"
      ]
    ]
  },
  {
    "id": "e9ccb23d.132a2",
    "type": "file",
    "z": "399a3bf2.52cdb4",
    "name": "",
    "filename": "/home/pi/.node-red/log/exception_nodes.log",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "x": 1030,
    "y": 335,
    "wires": []
  },
  {
    "id": "dd45aa8e.25e4d8",
    "type": "file in",
    "z": "c9cf8bbb.029148",
    "name": "",
    "filename": "/home/pi/.node-red/vbb_access_id.txt",
    "format": "utf8",
    "x": 328,
    "y": 1020,
    "wires": [
      [
        "9657b353.0b17c"
      ]
    ]
  },
  {
    "id": "7c8caa60.7f1724",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "",
    "topic": "vbb_access_id",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 188,
    "y": 1082,
    "wires": [
      [
        "dd45aa8e.25e4d8"
      ]
    ]
  },
  {
    "id": "55428bb8.80a064",
    "type": "inject",
    "z": "c9cf8bbb.029148",
    "name": "Daily 05:00 .. 22:00",
    "topic": "nodes@home/display/pixel/kitchen/message/brisbane",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "*/15 5-17 * * *",
    "once": false,
    "x": 180,
    "y": 1180,
    "wires": [
      [
        "78864514.cd9c1c"
      ]
    ]
  },
  {
    "id": "78864514.cd9c1c",
    "type": "openweathermap",
    "z": "c9cf8bbb.029148",
    "name": "Brisbane",
    "wtype": "current",
    "lon": "153.028091",
    "lat": "-27.467939",
    "city": "",
    "country": "",
    "language": "de",
    "x": 360,
    "y": 1180,
    "wires": [
      [
        "4d4d9c14.97f994"
      ]
    ]
  },
  {
    "id": "4d4d9c14.97f994",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "current_weather",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.messages[0].line",
        "pt": "msg",
        "to": "15",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "payload.messages[0].text",
        "pt": "msg",
        "to": "\"in \" & msg.location.city & \" sind \" & msg.current_weather.tempc & \"°C und \" & msg.current_weather.detail",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1180,
    "wires": [
      [
        "dac14d24.d9643"
      ]
    ]
  },
  {
    "id": "ca5f15fc.4351a8",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "Current Weather in Brisbane",
    "info": "",
    "x": 180,
    "y": 1140,
    "wires": []
  },
  {
    "id": "fb143377.559be",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update sensor/ds18b20/brewery",
    "group": "c39c0138.5637",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "sensor/ds18b20/brewery",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "sensor/ds18b20/brewery",
    "x": 510,
    "y": 920,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "ac7b56da.a31378",
    "type": "function",
    "z": "c9cf8bbb.029148",
    "name": "check time offset",
    "func": "// junand 22.01.2017\n\nif ( !msg.payload ) return null;\n\nconst timezoneOffset = -new Date ().getTimezoneOffset ();\nconst offset = 10 * 60 * 1000 + timezoneOffset * 60 * 1000; // 10 min in ms + timezoneoffset\n\nvar result = [];\n\nconst now = new Date ().getTime ();\n\nfor ( var i = 0; i < msg.payload.length; i++ ) {\n    \n    var departure = msg.payload [i];\n    var date = new Date ( departure.date + \"T\" + departure.time );\n\n    if ( now + offset < date.getTime () ) {\n        result [result.length] = msg.payload [i];\n    }\n    \n}\n\nmsg.payload = result;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 712,
    "y": 880,
    "wires": [
      [
        "a29ec0b1.326ca",
        "94b65b6b.b6c158"
      ]
    ]
  },
  {
    "id": "8a7accb0.053d3",
    "type": "change",
    "z": "c9cf8bbb.029148",
    "name": "select",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload.Departure[Product.operatorCode='DBS']",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 930,
    "y": 960,
    "wires": [
      [
        "42dec873.7bee78",
        "ac7b56da.a31378"
      ]
    ]
  },
  {
    "id": "42dec873.7bee78",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 940,
    "y": 1040,
    "wires": []
  },
  {
    "id": "94b65b6b.b6c158",
    "type": "debug",
    "z": "c9cf8bbb.029148",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 840,
    "y": 820,
    "wires": []
  },
  {
    "id": "d4597f9c.58c9c",
    "type": "mqtt in",
    "z": "8e2c5c11.fae26",
    "name": "",
    "topic": "nodes@home/+/+/+/value/voltage",
    "qos": "2",
    "broker": "f093b8cc.ff2b58",
    "x": 170,
    "y": 440,
    "wires": [
      [
        "1b9ae81f.fbc0b8"
      ]
    ]
  },
  {
    "id": "abfd308d.3acf6",
    "type": "comment",
    "z": "8e2c5c11.fae26",
    "name": "watch all voltage messages",
    "info": "",
    "x": 160,
    "y": 400,
    "wires": []
  },
  {
    "id": "1b9ae81f.fbc0b8",
    "type": "change",
    "z": "8e2c5c11.fae26",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "tmp",
        "pt": "msg",
        "to": "$split(topic,\"/\")",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "tmp[1] & \"/\" & tmp[2] & \"/\" & tmp[3]",
        "tot": "jsonata"
      },
      {
        "t": "delete",
        "p": "tmp",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "dummy",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 440,
    "wires": [
      [
        "ef5abae7.872d08",
        "80b7d557.0e2ad8"
      ]
    ]
  },
  {
    "id": "ef5abae7.872d08",
    "type": "switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "switch/rfhub/first",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/DHT11/lounge",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/DHT11/terrace",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/DHT11/roof",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/ds18b20/pool",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "cover/relay/garage",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/utilityroom",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/garage",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/terrace",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/relay/backyard",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "light/xmastree/dining",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/button/indoor",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/button/garage",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/button/pool",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/brewery",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/location2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/relay1/dining",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/relay2/dining",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/yardgate",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/location3",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "switch/sonoff/location4",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/ds18b20/brewery",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "sensor/gesture/kitchen",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 23,
    "x": 570,
    "y": 440,
    "wires": [
      [
        "776380d0.f764c"
      ],
      [
        "9150e637.bbe798"
      ],
      [
        "7756ce27.07bad"
      ],
      [
        "4465505c.3b89a"
      ],
      [
        "1b11347d.fdf7cc"
      ],
      [
        "f06cc2a3.333a"
      ],
      [
        "245adc5d.cac004"
      ],
      [
        "a1f69a7c.cff2d8"
      ],
      [
        "d4b1992.7661368"
      ],
      [
        "2c464d19.1f5222"
      ],
      [
        "f2457fad.db0ea"
      ],
      [
        "2380fb09.9d6424"
      ],
      [
        "61bf0cf.3d954f4"
      ],
      [
        "1427ea90.a72905"
      ],
      [
        "f8122aba.762258"
      ],
      [
        "c5a25316.d554c"
      ],
      [
        "72da6ca2.39f774"
      ],
      [
        "ec5062db.7bc3e"
      ],
      [
        "1effd40d.86038c"
      ],
      [
        "9fcdb7df.576458"
      ],
      [
        "d7103ff6.2f411"
      ],
      [
        "1a9a4c68.211884"
      ],
      [
        "2de52c61.1624f4"
      ]
    ]
  },
  {
    "id": "1a9a4c68.211884",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 880,
    "wires": [
      [
        "f8817a0.bc2f188",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "f8817a0.bc2f188",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/ds18b20/brewery",
    "group": "4759591f.23c438",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1018,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "7756ce27.07bad",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 120,
    "wires": [
      [
        "8e28218c.aadd4",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "8e28218c.aadd4",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/DHT11/terrace",
    "group": "eec5fbfe.9e9ef8",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "4465505c.3b89a",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 160,
    "wires": [
      [
        "bc70220c.686dc",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "bc70220c.686dc",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/DHT11/roof",
    "group": "eec5fbfe.9e9ef8",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 998,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "9150e637.bbe798",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 80,
    "wires": [
      [
        "328aa148.35c13e",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "328aa148.35c13e",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/DHT11/lounge",
    "group": "eec5fbfe.9e9ef8",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "1b11347d.fdf7cc",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 200,
    "wires": [
      [
        "8b2d5329.b5c28",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "8b2d5329.b5c28",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/ds18b20/pool",
    "group": "eec5fbfe.9e9ef8",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "80b7d557.0e2ad8",
    "type": "debug",
    "z": "8e2c5c11.fae26",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 372,
    "y": 200,
    "wires": []
  },
  {
    "id": "776380d0.f764c",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 40,
    "wires": [
      [
        "6e7e0db3.9a5294",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "6e7e0db3.9a5294",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/rfhub/first",
    "group": "eec5fbfe.9e9ef8",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 988,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "f06cc2a3.333a",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 240,
    "wires": [
      [
        "1b1eda50.91f4c6",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "1b1eda50.91f4c6",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "cover/relay/garage",
    "group": "eec5fbfe.9e9ef8",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 998,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "a1f69a7c.cff2d8",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 320,
    "wires": [
      [
        "ed806de9.190b4",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "ed806de9.190b4",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/garage",
    "group": "eec5fbfe.9e9ef8",
    "order": 8,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "245adc5d.cac004",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 280,
    "wires": [
      [
        "623f7cc4.f7e694",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "623f7cc4.f7e694",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/utilityroom",
    "group": "eec5fbfe.9e9ef8",
    "order": 7,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1018,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "5b195719.2adeb8",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/relay/backyard",
    "group": "eec5fbfe.9e9ef8",
    "order": 10,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "2c464d19.1f5222",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 400,
    "wires": [
      [
        "5b195719.2adeb8",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "f2457fad.db0ea",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 440,
    "wires": [
      [
        "3d00aea7.021082",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "3d00aea7.021082",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "light/xmastree/dining",
    "group": "4759591f.23c438",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "2380fb09.9d6424",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 480,
    "wires": [
      [
        "83d18967.d6ade8"
      ]
    ]
  },
  {
    "id": "83d18967.d6ade8",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/button/indoor",
    "group": "4759591f.23c438",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "61bf0cf.3d954f4",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 520,
    "wires": [
      [
        "746628c0.05bdc8"
      ]
    ]
  },
  {
    "id": "746628c0.05bdc8",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/button/garage",
    "group": "4759591f.23c438",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "1427ea90.a72905",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 560,
    "wires": [
      [
        "8eec9197.afda4"
      ]
    ]
  },
  {
    "id": "8eec9197.afda4",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/button/pool",
    "group": "4759591f.23c438",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 998,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "f8122aba.762258",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 600,
    "wires": [
      [
        "ed8d97b5.601ed8",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "ed8d97b5.601ed8",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/brewery",
    "group": "3156ce3a.ed9862",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "c5a25316.d554c",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 640,
    "wires": [
      [
        "4510ee2.d12641",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "4510ee2.d12641",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/location2 (Pool)",
    "group": "3156ce3a.ed9862",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1028,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "72da6ca2.39f774",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 680,
    "wires": [
      [
        "ef307e76.0f92f",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "ef307e76.0f92f",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/relay1/dining",
    "group": "3156ce3a.ed9862",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 998,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "ec5062db.7bc3e",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 720,
    "wires": [
      [
        "313da23.1c2fd5e",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "313da23.1c2fd5e",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/relay2/dining",
    "group": "3156ce3a.ed9862",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 998,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "1effd40d.86038c",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 760,
    "wires": [
      [
        "cd0b1092.27afb",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "cd0b1092.27afb",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/yardgate",
    "group": "eec5fbfe.9e9ef8",
    "order": 11,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "9fcdb7df.576458",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 800,
    "wires": [
      [
        "9671647f.748cd8",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "9671647f.748cd8",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/location3 (Galerie)",
    "group": "3156ce3a.ed9862",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1038,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "d7103ff6.2f411",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 840,
    "wires": [
      [
        "4827f00d.03286",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "4827f00d.03286",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/location4",
    "group": "3156ce3a.ed9862",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "d4b1992.7661368",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 798,
    "y": 360,
    "wires": [
      [
        "dd0e73d3.559f3",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "dd0e73d3.559f3",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "switch/sonoff/terrace",
    "group": "eec5fbfe.9e9ef8",
    "order": 9,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1008,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "658c4693.b73878",
    "type": "comment",
    "z": "f7610a0.d8198f8",
    "name": "Minutentakt",
    "info": "",
    "x": 130,
    "y": 260,
    "wires": []
  },
  {
    "id": "617730a.b4ef3d",
    "type": "function",
    "z": "f7610a0.d8198f8",
    "name": "2-point-controller",
    "func": "\n// junand 19.09.2017\n\n//----------------------------------------------------------------\nconst DEFAULT_RECIPE_NAME = \"unknown\";\nconst DEFAULT_BREW_START = \"unknown\";\nconst DEFAULT_TEMP = 1;\nconst DEFAULT_HEATING = \"control\";\nconst DEFAULT_HYSTERESIS = 1;\nconst DEFAULT_DURATION = 1;\nconst DEFAULT_HEATER_ON = false;\n\nvar recipeName = context.get ( \"recipeName\" );\nvar brewStart = context.get ( \"brewStart\" );\nvar temperature = context.get ( \"temperature\" ) || DEFAULT_TEMP;\nvar heatingMode = context.get ( \"heating\" ) || DEFAULT_HEATING;\nvar hysteresis = context.get ( \"hysteresis\" ) || DEFAULT_HYSTERESIS;\nvar periodLength = context.get ( \"periodLength\" ) || DEFAULT_DURATION;\nvar alarm = context.get ( \"alarm\" );\n\nconst PERIOD_INCREMENT = 10;\nconst PERIOD_ZERO = { min: 0, sec: 0 };\nvar periodCount = context.get ( \"periodCount\" ) || PERIOD_ZERO;\nvar heaterOn = context.get ( \"heaterOn\" ) || DEFAULT_HEATER_ON;\n\n//----------------------------------------------------------------\nconst STATE_IDLE = \"idle\";\nconst STATE_STARTING = \"starting\";\nconst STATE_PERIOD_STARTED = \"started\";\nconst STATE_PERIOD_FINISHED = \"finished\";\n\nvar state = context.get ( \"state\" ) || STATE_IDLE;\n\n//----------------------------------------------------------------\nfunction incPeriodCount ( cnt ) {\n    //cnt.sec++;\n    cnt.sec += 10;\n    if ( cnt.sec > 59 ) {\n        cnt.sec = 0;\n        cnt.min++;\n    }\n    return cnt;\n}\n\n//----------------------------------------------------------------\nfunction createHeaterMessage ( onOff ) { return { payload: onOff }; }\nfunction createStepMessage () { return { topic: \"next\", payload: \"x\" }; }\nfunction createPeriodeMessage ( count ) { return { payload: count.min + \":\" + (\"0\" + count.sec).slice ( -2 ) }; }\nfunction createAlarmMessage ( type ) { return { payload: type }; }\n\nfunction createChartMessage ( temp, target ) { \n    if ( target ) {\n        return [\n            { topic: \"value\", payload: temp },\n            { topic: \"target\", payload: target }\n        ];\n    }\n    else {\n        return { topic: \"value\", payload: temp };\n    }\n}\n\nfunction createInfluxMessage ( brewTemp, outerTemp ) {\n    return {\n        //measurement: \"prod\",\n        payload: [\n            // fields\n            {\n                state: state,\n                brewTemp: brewTemp,\n                target: temperature,\n                heater: heaterOn ? \"on\" : \"off\",\n                outerTemp: outerTemp\n            },\n            // tags\n            {\n                recipe: recipeName,\n                brewStart: brewStart\n            }\n        ]\n    };\n}\n\n//----------------------------------------------------------------\nif ( msg.topic == \"stop\" ) {\n    context.set ( \"state\", STATE_IDLE );\n    node.status ( { fill: \"grey\", shape: \"dot\", text: \"idle\" } );\n    return { payload: \"OFF\" };\n}\nelse if ( msg.topic == \"finished\" ) {\n    context.set ( \"state\", STATE_PERIOD_FINISHED );\n    node.status ( { fill: \"grey\", shape: \"dot\", text: \"finished\" } );\n    return { payload: \"OFF\" };\n}\nelse if ( msg.topic == \"start\" ) {\n    \n    recipeName = msg.recipeName || recipeName || DEFAULT_RECIPE_NAME;\n    brewStart = msg.brewStart || brewStart || DEFAULT_BREW_START;\n    var t = msg.temperature || DEFAULT_TEMP; \n    if ( t > 0 && t < 105 ) temperature = t;\n    heatingMode = msg.heating || heatingMode || DEFAULT_HEATING;\n    var h = msg.hysteresis || DEFAULT_HYSTERESIS;\n    if ( h > 0 && h < 10 ) hysteresis = h;\n    var p = msg.duration || DEFAULT_DURATION;\n    if ( p === \"wait\" || p > 0 ) periodLength = p;\n\n    //node.warn ( \"mode=\" + heatingMode + \" t=\" + temperature + \" h=\" + hysteresis + \" p=\" + periodLength );\n    \n    context.set ( \"recipeName\", recipeName );\n    context.set ( \"brewStart\", brewStart );\n    context.set ( \"temperature\", temperature );\n    context.set ( \"heating\", heatingMode );\n    context.set ( \"hysteresis\", hysteresis );\n    context.set ( \"periodLength\", periodLength );\n    context.set ( \"alarm\", msg.alarm );\n    \n    context.set ( \"periodCount\", PERIOD_ZERO );\n    context.set ( \"heaterOn\", heaterOn );\n\n    context.set ( \"state\", STATE_STARTING );\n    node.status ( { fill: \"grey\", shape: \"dot\", text: \"starting\" } );\n    \n    return [null, null, null, createPeriodeMessage ( PERIOD_ZERO )];\n\n}\nelse if ( msg.topic == \"hysteresis\" ) {\n    context.set ( \"hysteresis\", hysteresis );\n}\nelse if ( msg.topic == \"tick\" ) { // every sec\n    // check for period length\n    if ( state == STATE_IDLE ) {\n        node.status ( { fill: \"grey\", shape: \"dot\", text: \"idle\" } );\n    }\n    else if ( state == STATE_PERIOD_STARTED ) {\n        context.set ( \"periodCount\", incPeriodCount ( periodCount ) );\n        var alarmMsg = null;\n        if ( alarm ) {\n            for ( var i = 0; i < alarm.length; i++ ) {\n                if ( periodCount.min == alarm [i] ) {\n                    if ( periodCount.sec === 0 || alarm [i] === 0 && periodCount.sec === PERIOD_INCREMENT ) { // exception for 00:00, 1 sec later\n                        alarmMsg = createAlarmMessage ( \"ring\" );\n                        break;\n                    }\n                }\n            }\n        }\n        if ( periodLength == \"wait\" ) {} // do nothing, only tick and maybe ring\n        else {\n            if ( periodCount.min >= periodLength ) {\n                context.set ( \"state\", STATE_PERIOD_FINISHED );\n                context.set ( \"temperature\", null );\n                // ??? here heater off ???\n                if ( !alarmMsg ) alarmMsg = createAlarmMessage ( \"tweet2x\" );\n                return [createHeaterMessage ( \"OFF\" ), createStepMessage (), null, createPeriodeMessage ( periodCount ), alarmMsg]; \n            }\n        }\n        // tick\n        return [null, null, null, createPeriodeMessage ( periodCount ), alarmMsg];\n    }\n}\nelse if ( msg.topic == \"nodes@home/switch/sonoff/brewery/socket\" ) {\n    context.set ( \"heaterOn\", msg.payload == \"ON\" ? true : false );\n}\nelse {\n    // temperature received\n    if ( state == STATE_IDLE ) {\n        node.status ( { fill: \"grey\", shape: \"dot\", text: \"idle\" } );\n    }\n    else if ( msg.payload && msg.payload.brew && msg.payload.outer ) {\n        var brewTemp = msg.payload.brew;\n        var outerTemp = msg.payload.outer;\n        if ( state == STATE_PERIOD_FINISHED ) {\n            return [null, null, createChartMessage ( brewTemp ), null, null, createInfluxMessage ( brewTemp, outerTemp )];\n        }\n        else {\n            \n            var heaterMsg = null;\n            var alarmMsg = null;\n            var newHeaterOn = null;\n            \n            if ( brewTemp >= temperature ) {\n                if ( state == STATE_STARTING ) {\n                    context.set ( \"state\", STATE_PERIOD_STARTED );\n                    alarmMsg = createAlarmMessage ( \"tweet2x\" );\n                }\n            }\n\n            if ( heatingMode == \"no\" ) {\n                if ( heaterOn ) newHeaterOn = false;\n            }\n            else if ( heatingMode == \"one_time\" ) {\n                if ( state == STATE_STARTING ) {\n                    if ( !heaterOn ) newHeaterOn = true;\n                }\n            }\n            else if ( heatingMode == \"control\" ) {\n                if ( brewTemp <= temperature - hysteresis ) {\n                    if ( !heaterOn ) newHeaterOn = true;\n                }\n            }\n            else if ( heatingMode == \"full\" ) {\n                if ( !heaterOn ) newHeaterOn = true;\n            }\n            \n            if ( newHeaterOn !== null ) {\n                //node.warn ( \"switch heater from \" + heaterOn + \" to \" + newHeaterOn );                    \n                context.set ( \"heaterOn\", newHeaterOn );\n                if ( !alarmMsg ) alarmMsg = createAlarmMessage ( \"tweet\" );\n                if ( newHeaterOn ) {\n                    node.status ( { fill: \"red\", shape: \"dot\", text: \"heating\" } );\n                    heaterMsg = createHeaterMessage ( \"ON\" );\n                }\n                else {\n                    node.status ( { fill: \"blue\", shape: \"dot\", text: \"cooling\" } );\n                    heaterMsg = createHeaterMessage ( \"OFF\" );\n                }\n            }\n            \n            // on every temp, send target and data fields\n            return [heaterMsg, null, createChartMessage ( brewTemp, temperature ), null, alarmMsg, createInfluxMessage ( brewTemp, outerTemp )];\n        }\n    }\n}\n",
    "outputs": "6",
    "noerr": 0,
    "x": 530,
    "y": 380,
    "wires": [
      [
        "9df68206.7eef8",
        "d26fb24c.d2df7"
      ],
      [
        "1db36e4f.8fd562"
      ],
      [
        "4da30c15.2fab94"
      ],
      [
        "c7879e27.30b6c"
      ],
      [
        "426cd91e.71e808"
      ],
      [
        "4b6bbf56.90a31"
      ]
    ],
    "outputLabels": [
      "heater switch (on/off)",
      "next step (target reached)",
      "chart data",
      "ticker",
      "alarm",
      "influxdb"
    ]
  },
  {
    "id": "9df68206.7eef8",
    "type": "mqtt out",
    "z": "f7610a0.d8198f8",
    "name": "mqtt",
    "topic": "nodes@home/switch/sonoff/brewery/socket",
    "qos": "1",
    "retain": "false",
    "broker": "f093b8cc.ff2b58",
    "x": 591,
    "y": 180,
    "wires": []
  },
  {
    "id": "d169158f.c15348",
    "type": "inject",
    "z": "f7610a0.d8198f8",
    "name": "tick",
    "topic": "tick",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 300,
    "wires": [
      [
        "617730a.b4ef3d"
      ]
    ]
  },
  {
    "id": "4da30c15.2fab94",
    "type": "ui_chart",
    "z": "f7610a0.d8198f8",
    "name": "chart",
    "group": "165a13ba.7f27ec",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Verlauf",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "IDLE",
    "dot": false,
    "ymin": "0",
    "ymax": "110",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": [
      "#0000ff",
      "#ff0000",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": true,
    "x": 930,
    "y": 300,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "1d0b78cb.be0807",
    "type": "ui_gauge",
    "z": "f7610a0.d8198f8",
    "name": "brew temperature",
    "group": "165a13ba.7f27ec",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Sud",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#0000ff",
      "#ff00ff",
      "#ca3838"
    ],
    "seg1": "67",
    "seg2": "90",
    "x": 970,
    "y": 220,
    "wires": []
  },
  {
    "id": "33fc0b3c.c86a54",
    "type": "change",
    "z": "f7610a0.d8198f8",
    "name": "get value",
    "rules": [
      {
        "t": "move",
        "p": "payload.brew",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 220,
    "wires": [
      [
        "1d0b78cb.be0807"
      ]
    ]
  },
  {
    "id": "d26fb24c.d2df7",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "heater",
    "label": "Heizung",
    "group": "e1a7eb0b.d543f8",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "ON",
    "onvalueType": "str",
    "onicon": "trending_up",
    "oncolor": "red",
    "offvalue": "OFF",
    "offvalueType": "str",
    "officon": "trending_down",
    "offcolor": "blue",
    "x": 930,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "cda4f9e6.9061e8",
    "type": "ui_button",
    "z": "f7610a0.d8198f8",
    "name": "start",
    "group": "e1a7eb0b.d543f8",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Start",
    "color": "white",
    "bgcolor": "green",
    "icon": "",
    "payload": "x",
    "payloadType": "str",
    "topic": "start",
    "x": 110,
    "y": 560,
    "wires": [
      [
        "1db36e4f.8fd562",
        "d280f7b1.202c08"
      ]
    ]
  },
  {
    "id": "72902b14.065de4",
    "type": "ui_button",
    "z": "f7610a0.d8198f8",
    "name": "stop",
    "group": "e1a7eb0b.d543f8",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Stop",
    "color": "white",
    "bgcolor": "#FFAAAA",
    "icon": "",
    "payload": "x",
    "payloadType": "str",
    "topic": "stop",
    "x": 110,
    "y": 640,
    "wires": [
      [
        "1db36e4f.8fd562"
      ]
    ]
  },
  {
    "id": "cafc91d8.85fd3",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 5,
    "width": "9",
    "height": "1",
    "name": "line2",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 740,
    "wires": []
  },
  {
    "id": "27663aa9.2e5636",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 7,
    "width": "9",
    "height": "1",
    "name": "line3",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 754,
    "wires": []
  },
  {
    "id": "62d2d252.d2b29c",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 9,
    "width": "9",
    "height": "1",
    "name": "line4",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 774,
    "wires": []
  },
  {
    "id": "c5efaa64.4e64f8",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 11,
    "width": "9",
    "height": "1",
    "name": "line5",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 794,
    "wires": []
  },
  {
    "id": "83b5f943.719fe8",
    "type": "template",
    "z": "f7610a0.d8198f8",
    "name": "recipe",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "plain",
    "template": "{\n    \"name\": \"Pale Ale\",\n    \"comment\": \"www.hobbybrauserversand.de\",\n    \"steps\": [\n        {\n            \"id\": 1,\n            \"step\": \"Einmaischen\",\n            \"temperature\": 61,\n            \"heating\": \"one_time\",\n            \"duration\": 10,\n            \"alarm\": [0]\n        },\n        {\n            \"id\": 2,\n            \"step\": \"Maltoserast\",\n            \"temperature\": 62,\n            \"heating\": \"control\",\n            \"duration\": 45,\n            \"hysteresis\": 0.5\n        },\n        {\n            \"id\": 3,\n            \"step\": \"Verzuckerung\",\n            \"temperature\": 71,\n            \"heating\": \"control\",\n            \"duration\": 30,\n            \"hysteresis\": 0.5\n        },\n        {\n            \"id\": 4,\n            \"step\": \"Abmaischen\",\n            \"temperature\": 78,\n            \"heating\": \"one_time\",\n            \"duration\": \"wait\"\n        },\n        {\n            \"id\": 5,\n            \"step\": \"Läuterruhe\",\n            \"temperature\": 1,\n            \"heating\": \"no\",\n            \"duration\": 20,\n            \"alarm\": [20]\n        },\n        {\n            \"id\": 6,\n            \"step\": \"Läutern\",\n            \"temperature\": 1,\n            \"heating\": \"no\",\n            \"duration\": \"wait\"\n        },\n        {\n            \"id\": 7,\n            \"step\": \"Kochen\",\n            \"temperature\": 100,\n            \"heating\": \"full\",\n            \"duration\": 90,\n            \"hysteresis\": 0.1,\n            \"alarm\": [20, 85]\n        }\n    ]\n}",
    "output": "str",
    "x": 270,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "9178a1a6.5de78",
    "type": "splitter",
    "z": "f7610a0.d8198f8",
    "name": "",
    "property": "payload.steps",
    "x": 530,
    "y": 780,
    "wires": [
      [
        "e5df4c9f.1150d"
      ]
    ]
  },
  {
    "id": "8ee58300.4c0ab",
    "type": "json",
    "z": "f7610a0.d8198f8",
    "name": "",
    "pretty": false,
    "x": 390,
    "y": 780,
    "wires": [
      [
        "1db36e4f.8fd562",
        "9178a1a6.5de78",
        "a20e9284.ab2a4"
      ]
    ]
  },
  {
    "id": "45dd7343.b664dc",
    "type": "switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "property": "id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "7",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "8",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "outputs": 8,
    "x": 790,
    "y": 780,
    "wires": [
      [
        "55b144a5.3cc28c"
      ],
      [
        "cafc91d8.85fd3"
      ],
      [
        "27663aa9.2e5636"
      ],
      [
        "62d2d252.d2b29c"
      ],
      [
        "c5efaa64.4e64f8"
      ],
      [
        "4ce38a2d.afc724"
      ],
      [
        "6493c2fd.ef9f7c"
      ],
      [
        "8ea860fb.5408f"
      ]
    ]
  },
  {
    "id": "23c6faa6.f1a456",
    "type": "inject",
    "z": "f7610a0.d8198f8",
    "name": "load",
    "topic": "recipe",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 150,
    "y": 780,
    "wires": [
      [
        "83b5f943.719fe8",
        "c030098a.559b68"
      ]
    ]
  },
  {
    "id": "d4024786.7bc568",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 10,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "505853c5.39bbac",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 4,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "19ae8bd8.81cf64",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 6,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "401d82b4.b5fedc",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 8,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "55b144a5.3cc28c",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 3,
    "width": "9",
    "height": "1",
    "name": "line1",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 720,
    "wires": []
  },
  {
    "id": "1dc68892.ac81c7",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 2,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "1db36e4f.8fd562",
    "type": "function",
    "z": "f7610a0.d8198f8",
    "name": "scheduler",
    "func": "// junand 20.09.2017\n\nfunction getStopMessages ( topic ) {\n    \n    return [\n        { topic: topic||\"stop\", payload: \"x\" },\n        [\n            { id: 0, payload: false },\n            { id: 1, payload: false },\n            { id: 2, payload: false },\n            { id: 3, payload: false },\n            { id: 4, payload: false },\n            { id: 5, payload: false },\n            { id: 6, payload: false },\n            { id: 7, payload: false }\n        ]\n    ];\n\n}\n\nfunction createDateString ( d ) {\n\n    var datestring = \n        (\"0\" + d.getDate ()).slice ( -2 ) + \"-\" + \n        (\"0\" + (d.getMonth () + 1)).slice ( -2 ) + \"-\" +\n        d.getFullYear () + \" \" + \n        (\"0\" + d.getHours ()).slice ( -2 ) + \":\" + \n        (\"0\" + d.getMinutes ()).slice ( -2 );\n\n    return datestring;        \n}\n\nfunction getStepMessages ( i ) {\n    \n    var recipe = context.get ( \"recipe\" );\n    if ( i === 0 ) { \n        recipe.brewStart = createDateString ( new Date () );\n        context.set ( \"recipe\", recipe );\n    }\n    if ( i < recipe.steps.length ) {\n        // start controller\n        context.set ( \"step\", i + 1 );\n        return [\n            {   \n                topic: \"start\", \n                recipeName: recipe.name,\n                brewStart: recipe.brewStart,\n                temperature: recipe.steps [i].temperature, \n                heating: recipe.steps [i].heating,\n                duration: recipe.steps [i].duration, \n                hysteresis: recipe.steps [i].hysteresis,\n                alarm: recipe.steps [i].alarm \n            },\n            [\n                { id: 0, payload: i === 0 ? true : false },\n                { id: 1, payload: i === 1 ? true : false },\n                { id: 2, payload: i === 2 ? true : false },\n                { id: 3, payload: i === 3 ? true : false },\n                { id: 4, payload: i === 4 ? true : false },\n                { id: 5, payload: i === 5 ? true : false },\n                { id: 6, payload: i === 6 ? true : false },\n                { id: 7, payload: i === 7 ? true : false }\n            ]\n        ];\n    }\n    else {\n        // stop controller\n        context.set ( \"step\", null );\n        return getStopMessages ( \"finished\" );\n    }\n\n}\n\nif ( msg.topic == \"recipe\" ) {\n    context.set ( \"recipe\", msg.payload );\n    return getStopMessages ();\n}\nelse if ( msg.topic == \"start\" ) {\n    context.set ( \"step\", 0 );\n    return getStepMessages ( 0 );\n}\nelse if ( msg.topic == \"stop\" ) {\n    context.set ( \"step\", null );\n    return getStopMessages ();\n}\nelse if ( msg.topic == \"next\" ) {\n    var step = context.get ( \"step\" );\n    if ( step ) return getStepMessages ( step );\n}\n",
    "outputs": "2",
    "noerr": 0,
    "x": 540,
    "y": 600,
    "wires": [
      [
        "617730a.b4ef3d",
        "f54b313d.4d42b"
      ],
      [
        "4fb46268.4ec56c"
      ]
    ]
  },
  {
    "id": "4fb46268.4ec56c",
    "type": "switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "property": "id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "7",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "outputs": 8,
    "x": 790,
    "y": 572,
    "wires": [
      [
        "1dc68892.ac81c7"
      ],
      [
        "505853c5.39bbac"
      ],
      [
        "19ae8bd8.81cf64"
      ],
      [
        "401d82b4.b5fedc"
      ],
      [
        "d4024786.7bc568"
      ],
      [
        "d23bc3d.e52ce4"
      ],
      [
        "9f5a85b8.a34698"
      ],
      [
        "685b16a7.ec5958"
      ]
    ]
  },
  {
    "id": "8d985d4d.cb751",
    "type": "ui_button",
    "z": "f7610a0.d8198f8",
    "name": "next",
    "group": "e1a7eb0b.d543f8",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Weiter",
    "color": "green",
    "bgcolor": "white",
    "icon": "",
    "payload": "x",
    "payloadType": "str",
    "topic": "next",
    "x": 110,
    "y": 600,
    "wires": [
      [
        "1db36e4f.8fd562"
      ]
    ]
  },
  {
    "id": "4ce38a2d.afc724",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 13,
    "width": "9",
    "height": "1",
    "name": "line6",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 814,
    "wires": []
  },
  {
    "id": "6493c2fd.ef9f7c",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 15,
    "width": "9",
    "height": "1",
    "name": "line7",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 834,
    "wires": []
  },
  {
    "id": "8ea860fb.5408f",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 17,
    "width": "9",
    "height": "1",
    "name": "line8",
    "label": "",
    "format": "<font size=\"+2\">{{msg.payload}}</font size>",
    "layout": "row-left",
    "x": 930,
    "y": 854,
    "wires": []
  },
  {
    "id": "d23bc3d.e52ce4",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 12,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "9f5a85b8.a34698",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 14,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "685b16a7.ec5958",
    "type": "ui_switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "label": "",
    "group": "903ce37b.b2576",
    "order": 16,
    "width": "1",
    "height": "1",
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "play_arrow",
    "oncolor": "green",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "indeterminate_check_box",
    "offcolor": "grey",
    "x": 930,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "c7879e27.30b6c",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 18,
    "width": "10",
    "height": "4",
    "name": "ticker",
    "label": "",
    "format": "<font size=\"+10\">{{msg.payload}} min</font size>",
    "layout": "col-center",
    "x": 930,
    "y": 340,
    "wires": []
  },
  {
    "id": "a20e9284.ab2a4",
    "type": "ui_text",
    "z": "f7610a0.d8198f8",
    "group": "903ce37b.b2576",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "recipe name",
    "label": "",
    "format": "<font size=\"+3\">{{msg.payload.name}}</font size>",
    "layout": "row-left",
    "x": 950,
    "y": 680,
    "wires": []
  },
  {
    "id": "2fd74a54.02a7b6",
    "type": "ui_audio",
    "z": "f7610a0.d8198f8",
    "name": "",
    "group": "e1a7eb0b.d543f8",
    "voice": "0",
    "always": true,
    "x": 1100,
    "y": 400,
    "wires": []
  },
  {
    "id": "6cdd6de1.362d24",
    "type": "file in",
    "z": "f7610a0.d8198f8",
    "name": "ring,mp3",
    "filename": "/home/pi/.node-red//ring.mp3",
    "format": "",
    "chunk": false,
    "sendError": true,
    "x": 940,
    "y": 380,
    "wires": [
      [
        "2fd74a54.02a7b6"
      ]
    ]
  },
  {
    "id": "fb523284.265d6",
    "type": "mqtt in",
    "z": "f7610a0.d8198f8",
    "name": "mqtt",
    "topic": "nodes@home/switch/sonoff/brewery/socket/value/state",
    "qos": "1",
    "broker": "f093b8cc.ff2b58",
    "x": 110,
    "y": 200,
    "wires": [
      [
        "d26fb24c.d2df7",
        "617730a.b4ef3d"
      ]
    ]
  },
  {
    "id": "95dd237f.744c8",
    "type": "comment",
    "z": "f7610a0.d8198f8",
    "name": "Manuelle Steuerung",
    "info": "",
    "x": 150,
    "y": 160,
    "wires": []
  },
  {
    "id": "456b2164.e3f2e",
    "type": "comment",
    "z": "f7610a0.d8198f8",
    "name": "Steuerung Rezeptur",
    "info": "",
    "x": 150,
    "y": 520,
    "wires": []
  },
  {
    "id": "dd37fead.7e6b4",
    "type": "comment",
    "z": "f7610a0.d8198f8",
    "name": "Hysterese einstellen",
    "info": "",
    "x": 150,
    "y": 60,
    "wires": []
  },
  {
    "id": "725733d2.a2e4fc",
    "type": "ui_numeric",
    "z": "f7610a0.d8198f8",
    "name": "hysteresis",
    "label": "Hysterese",
    "group": "e1a7eb0b.d543f8",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "hysteresis",
    "format": "{{value}}",
    "min": 0,
    "max": "5.0",
    "step": "0.1",
    "x": 380,
    "y": 100,
    "wires": [
      [
        "617730a.b4ef3d"
      ]
    ]
  },
  {
    "id": "f54b313d.4d42b",
    "type": "switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "start",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 110,
    "y": 100,
    "wires": [
      [
        "f154e6db.0ee738"
      ]
    ]
  },
  {
    "id": "f154e6db.0ee738",
    "type": "change",
    "z": "f7610a0.d8198f8",
    "name": "mv",
    "rules": [
      {
        "t": "move",
        "p": "hysteresis",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 240,
    "y": 100,
    "wires": [
      [
        "725733d2.a2e4fc"
      ]
    ]
  },
  {
    "id": "4b6bbf56.90a31",
    "type": "influxdb out",
    "z": "f7610a0.d8198f8",
    "influxdb": "1a9412b.dfe4aed",
    "name": "influxdb",
    "measurement": "test",
    "precision": "",
    "retentionPolicy": "",
    "x": 940,
    "y": 460,
    "wires": []
  },
  {
    "id": "f14b3d6.612cec",
    "type": "ui_gauge",
    "z": "f7610a0.d8198f8",
    "name": "outer temperature",
    "group": "165a13ba.7f27ec",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Außen",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "40",
    "colors": [
      "#0000ff",
      "#ff00ff",
      "#ca3838"
    ],
    "seg1": "10",
    "seg2": "23",
    "x": 970,
    "y": 180,
    "wires": []
  },
  {
    "id": "5bcc022d.16b5cc",
    "type": "mqtt in",
    "z": "f7610a0.d8198f8",
    "name": "mqtt",
    "topic": "nodes@home/sensor/ds18b20/brewery/value/temperature",
    "qos": "1",
    "broker": "f093b8cc.ff2b58",
    "x": 110,
    "y": 400,
    "wires": [
      [
        "997780d6.e1dd5"
      ]
    ]
  },
  {
    "id": "997780d6.e1dd5",
    "type": "json",
    "z": "f7610a0.d8198f8",
    "name": "",
    "pretty": false,
    "x": 230,
    "y": 399,
    "wires": [
      [
        "617730a.b4ef3d",
        "33fc0b3c.c86a54",
        "2e2c30df.48b3b"
      ]
    ]
  },
  {
    "id": "959e8caa.34d12",
    "type": "comment",
    "z": "f7610a0.d8198f8",
    "name": "Temperatursensor",
    "info": "",
    "x": 150,
    "y": 360,
    "wires": []
  },
  {
    "id": "d280f7b1.202c08",
    "type": "change",
    "z": "f7610a0.d8198f8",
    "name": "blank",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 520,
    "wires": [
      [
        "4da30c15.2fab94"
      ]
    ]
  },
  {
    "id": "ecc934a9.ed7898",
    "type": "mqtt in",
    "z": "f7610a0.d8198f8",
    "name": "mqtt",
    "topic": "nodes@home/sensor/ds18b20/brewery/value/voltage",
    "qos": "1",
    "broker": "f093b8cc.ff2b58",
    "x": 530,
    "y": 100,
    "wires": [
      [
        "ed05005b.00cd7"
      ]
    ]
  },
  {
    "id": "ed05005b.00cd7",
    "type": "json",
    "z": "f7610a0.d8198f8",
    "name": "",
    "pretty": false,
    "x": 650,
    "y": 100,
    "wires": [
      [
        "3f414587.a861da"
      ]
    ]
  },
  {
    "id": "3f414587.a861da",
    "type": "change",
    "z": "f7610a0.d8198f8",
    "name": "get value",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.value / 1000",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "value",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 100,
    "wires": [
      [
        "4ab701e.658a6",
        "9f4a0d6b.cfd71"
      ]
    ]
  },
  {
    "id": "b3ba783a.dd56b8",
    "type": "comment",
    "z": "f7610a0.d8198f8",
    "name": "Akkuspannung",
    "info": "",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "4ab701e.658a6",
    "type": "ui_gauge",
    "z": "f7610a0.d8198f8",
    "name": "voltage",
    "group": "6f6ec204.ae7e8c",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Akku",
    "label": "V",
    "format": "{{value | number:2}}",
    "min": "3.5",
    "max": "4.2",
    "colors": [
      "#ff0000",
      "#ffff00",
      "#008000"
    ],
    "seg1": "3.7",
    "seg2": "3.95",
    "x": 940,
    "y": 100,
    "wires": []
  },
  {
    "id": "9f4a0d6b.cfd71",
    "type": "ui_chart",
    "z": "f7610a0.d8198f8",
    "name": "chart",
    "group": "6f6ec204.ae7e8c",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Spannungsverlauf",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "---",
    "dot": false,
    "ymin": "3.5",
    "ymax": "4.2",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": [
      "#8080ff",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "x": 930,
    "y": 60,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "2e2c30df.48b3b",
    "type": "change",
    "z": "f7610a0.d8198f8",
    "name": "get value",
    "rules": [
      {
        "t": "move",
        "p": "payload.outer",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 180,
    "wires": [
      [
        "f14b3d6.612cec"
      ]
    ]
  },
  {
    "id": "af1380b6.843cf",
    "type": "comment",
    "z": "c9cf8bbb.029148",
    "name": "Rework open weather",
    "info": "- call every 3h\n- compute for every whole day min/max temp",
    "x": 770,
    "y": 40,
    "wires": []
  },
  {
    "id": "f77b45eb.5535f8",
    "type": "ui_button",
    "z": "f7610a0.d8198f8",
    "name": "",
    "group": "e1a7eb0b.d543f8",
    "order": 7,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "100°C",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"brew\":100,\"outer\":21,\"unit\":\"°C\"}",
    "payloadType": "str",
    "topic": "",
    "x": 110,
    "y": 440,
    "wires": [
      [
        "997780d6.e1dd5"
      ]
    ]
  },
  {
    "id": "5a5ef79e.ac8988",
    "type": "ui_button",
    "z": "f7610a0.d8198f8",
    "name": "",
    "group": "e1a7eb0b.d543f8",
    "order": 8,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "20°C",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"brew\":20,\"outer\":22,\"unit\":\"°C\"}",
    "payloadType": "str",
    "topic": "",
    "x": 110,
    "y": 460,
    "wires": [
      [
        "997780d6.e1dd5"
      ]
    ]
  },
  {
    "id": "7992c0da.09e34",
    "type": "comment",
    "z": "f7610a0.d8198f8",
    "name": "mp3 Quellen",
    "info": "**Wecker**\n- http://www.salamisound.de/8990324-klassischer-wecker-klingelt\n\n**Piep**\n- http://www.salamisound.de/7788914-signal-piep-einmal-als\n\n**Doppel-Piep**\n- http://www.salamisound.de/7587855-doppel-piep-signal-als",
    "x": 1090,
    "y": 360,
    "wires": []
  },
  {
    "id": "426cd91e.71e808",
    "type": "switch",
    "z": "f7610a0.d8198f8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ring",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "tweet",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "tweet2x",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 3,
    "x": 810,
    "y": 400,
    "wires": [
      [
        "6cdd6de1.362d24"
      ],
      [
        "4d439eef.9d3f8"
      ],
      [
        "8bebb340.14f19"
      ]
    ]
  },
  {
    "id": "4d439eef.9d3f8",
    "type": "file in",
    "z": "f7610a0.d8198f8",
    "name": "tweet.mp3",
    "filename": "/home/pi/.node-red//tweet.mp3",
    "format": "",
    "chunk": false,
    "sendError": true,
    "x": 950,
    "y": 400,
    "wires": [
      [
        "2fd74a54.02a7b6"
      ]
    ]
  },
  {
    "id": "8bebb340.14f19",
    "type": "file in",
    "z": "f7610a0.d8198f8",
    "name": "tweet2x.mp3",
    "filename": "/home/pi/.node-red/tweet2x.mp3",
    "format": "",
    "chunk": false,
    "sendError": true,
    "x": 950,
    "y": 420,
    "wires": [
      [
        "2fd74a54.02a7b6"
      ]
    ]
  },
  {
    "id": "afd81abb.705178",
    "type": "inject",
    "z": "f7610a0.d8198f8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "7",
    "crontab": "",
    "once": false,
    "x": 90,
    "y": 500,
    "wires": [
      [
        "f77b45eb.5535f8"
      ]
    ]
  },
  {
    "id": "c030098a.559b68",
    "type": "template",
    "z": "f7610a0.d8198f8",
    "name": "test",
    "field": "payload",
    "fieldType": "msg",
    "format": "json",
    "syntax": "plain",
    "template": "{\n    \"name\": \"Test\",\n    \"comment\": \"www.hobbybrauserversand.de\",\n    \"steps\": [\n        {\n            \"id\": 1,\n            \"step\": \"Einmaischen\",\n            \"temperature\": 61,\n            \"heating\": \"one_time\",\n            \"duration\": 1,\n            \"alarm\": [0]\n        },\n        {\n            \"id\": 2,\n            \"step\": \"Maltoserast\",\n            \"temperature\": 62,\n            \"heating\": \"control\",\n            \"duration\": 4,\n            \"hysteresis\": 0.5\n        },\n        {\n            \"id\": 3,\n            \"step\": \"Verzuckerung\",\n            \"temperature\": 71,\n            \"heating\": \"control\",\n            \"duration\": 3,\n            \"hysteresis\": 0.5\n        },\n        {\n            \"id\": 4,\n            \"step\": \"Abmaischen\",\n            \"temperature\": 78,\n            \"heating\": \"one_time\",\n            \"duration\": \"wait\",\n            \"alarm\": [1]\n        },\n        {\n            \"id\": 5,\n            \"step\": \"Läuterruhe\",\n            \"heating\": \"no\",\n            \"duration\": 2,\n            \"alarm\": [2]\n        },\n        {\n            \"id\": 6,\n            \"step\": \"Läutern\",\n            \"heating\": \"no\",\n            \"duration\": \"wait\"\n        },\n        {\n            \"id\": 7,\n            \"step\": \"Kochen\",\n            \"temperature\": 100,\n            \"heating\": \"full\",\n            \"duration\": 3,\n            \"hysteresis\": 0.1,\n            \"alarm\": [1, 2]\n        }\n    ]\n}",
    "output": "str",
    "x": 270,
    "y": 740,
    "wires": [
      [
        "8ee58300.4c0ab"
      ]
    ]
  },
  {
    "id": "e5df4c9f.1150d",
    "type": "function",
    "z": "f7610a0.d8198f8",
    "name": "line text",
    "func": "// junand 03.10.2017\n\n// payload.duration === \"wait\"\n\nmsg.id = msg.payload.id;\n\nvar result = \"[\" + msg.payload.id + \"] \" + msg.payload.step;\n\nif ( msg.payload.temperature ) result += \": \" + msg.payload.temperature + \"°C\";\n\nif ( msg.payload.duration === \"wait\" ) result += \", dann WEITER\";\nelse result += \" für \" + msg.payload.duration + \"min\";\n\nmsg.payload = result;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 660,
    "y": 780,
    "wires": [
      [
        "45dd7343.b664dc"
      ]
    ]
  },
  {
    "id": "f1399c8c.93ab8",
    "type": "switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 830,
    "y": 1060,
    "wires": [
      [
        "bf07b832.b1d128"
      ]
    ]
  },
  {
    "id": "15a66c63.568814",
    "type": "debug",
    "z": "8e2c5c11.fae26",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1090,
    "y": 1120,
    "wires": []
  },
  {
    "id": "1aa5792d.be0547",
    "type": "inject",
    "z": "8e2c5c11.fae26",
    "name": "",
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 670,
    "y": 1060,
    "wires": [
      [
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "d5d988d5.0c43b8",
    "type": "http request",
    "z": "8e2c5c11.fae26",
    "name": "simplepush",
    "method": "GET",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 1100,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "bf07b832.b1d128",
    "type": "change",
    "z": "8e2c5c11.fae26",
    "name": "url",
    "rules": [
      {
        "t": "set",
        "p": "node",
        "pt": "msg",
        "to": "$replace ( topic, \"/\", \"_\" ) & \" is not alive\"",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "\"https://api.simplepush.io/send/Qz2wVh/\" & node & \"/event/nodes\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 950,
    "y": 1060,
    "wires": [
      [
        "15a66c63.568814",
        "d5d988d5.0c43b8"
      ]
    ]
  },
  {
    "id": "a2ae81f3.6cd23",
    "type": "comment",
    "z": "8e2c5c11.fae26",
    "name": "send msg to simplepush if trigger is outtimed",
    "info": "",
    "x": 950,
    "y": 1020,
    "wires": []
  },
  {
    "id": "30628acc.5130e6",
    "type": "ui_button",
    "z": "37197cb5.c49ee4",
    "name": "update light/sonoff/kitchen",
    "group": "1af04f91.de5e1",
    "order": 12,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "light/sonoff/kitchen",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "date",
    "topic": "light/sonoff/kitchen",
    "x": 490,
    "y": 1020,
    "wires": [
      [
        "6ed6dc87.f74a94"
      ]
    ]
  },
  {
    "id": "2de52c61.1624f4",
    "type": "trigger",
    "z": "8e2c5c11.fae26",
    "op1": "1",
    "op2": "0",
    "op1type": "str",
    "op2type": "str",
    "duration": "20",
    "extend": true,
    "units": "min",
    "reset": "",
    "name": "",
    "x": 799,
    "y": 920,
    "wires": [
      [
        "89703dc8.54a22",
        "f1399c8c.93ab8"
      ]
    ]
  },
  {
    "id": "89703dc8.54a22",
    "type": "ui_switch",
    "z": "8e2c5c11.fae26",
    "name": "",
    "label": "sensor/gesture/kitchen",
    "group": "4759591f.23c438",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "true",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "onicon": "done",
    "oncolor": "green",
    "offvalue": "0",
    "offvalueType": "str",
    "officon": "error_outline",
    "offcolor": "red",
    "x": 1009,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "3cbd592a.4b97f6",
    "type": "comment",
    "z": "65bfe802.954608",
    "name": "track ambient values from gesture node",
    "info": "",
    "x": 250,
    "y": 80,
    "wires": []
  },
  {
    "id": "4246d070.f16f5",
    "type": "mqtt in",
    "z": "65bfe802.954608",
    "name": "ambient",
    "topic": "nodes@home/sensor/gesture/kitchen/value/ambient",
    "qos": "2",
    "broker": "f093b8cc.ff2b58",
    "x": 150,
    "y": 140,
    "wires": [
      [
        "d816c80a.e7abd8"
      ]
    ]
  },
  {
    "id": "d816c80a.e7abd8",
    "type": "json",
    "z": "65bfe802.954608",
    "name": "",
    "pretty": false,
    "x": 290,
    "y": 140,
    "wires": [
      [
        "7a82cf50.9444f",
        "911ab03c.dfc16"
      ]
    ]
  },
  {
    "id": "911ab03c.dfc16",
    "type": "debug",
    "z": "65bfe802.954608",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 630,
    "y": 100,
    "wires": []
  },
  {
    "id": "7a82cf50.9444f",
    "type": "influxdb out",
    "z": "65bfe802.954608",
    "influxdb": "9f5822ca.ea672",
    "name": "influxdb",
    "measurement": "clear",
    "precision": "",
    "retentionPolicy": "",
    "x": 620,
    "y": 140,
    "wires": []
  }
]
